Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(deps): update image ghcr.io/onedr0p/postgres-init to v16.2
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/main/apps/self-hosted/tesla-spy/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

chore(deps): update oxsecurity/megalinter action to v7.9.0
  .github/workflows/lint.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/postgres-init to v16.2
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/main/apps/self-hosted/tesla-spy/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

chore(deps): update oxsecurity/megalinter action to v7.9.0
  .github/workflows/lint.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/plex to 76dce9f
  kubernetes/main/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/lidarr to v2.1.7.4030
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/plex to 97bf4a8
  kubernetes/main/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

chore(deps): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.14.0.4275
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v40.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update image docker.io/prodrigestivill/postgres-backup-local to c577b0d
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/main/apps/media/immich/app/db/helm-release.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.5
  .pre-commit-config.yaml
Labels: none

chore(deps): update image docker.io/timberio/vector to v0.36.0
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/plex to v1.40.0.7998-c29d4c0c8
  kubernetes/main/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.13.0
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.13.0
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/plex to v1.40.0.7998-c29d4c0c8
  kubernetes/main/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.5
  .pre-commit-config.yaml
Labels: none

chore(deps): update image docker.io/timberio/vector to v0.36.0
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update chart snapshot-controller to 2.1.1
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.14.0.4277
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart snapshot-controller to 2.2.0
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.2-1
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.2-1
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update chart snapshot-controller to 2.2.0
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/create-github-app-token digest to f4c6bf6
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update endbug/label-sync digest to 5207415
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

chore(deps): update chart loki to 5.42.3
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image prometheus-node-exporter to v4.30.1
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v13
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v13
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image prometheus-node-exporter to v4.30.1
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update endbug/label-sync digest to 5207415
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to f4c6bf6
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update chart loki to 5.42.3
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart loki to 5.43.0
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart vector to 0.31.0
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update chart vector to 0.31.0
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update chart loki to 5.43.0
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster
