Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

Fix bug in login functionality
  .devcontainer/devcontainer.json
Labels: none

chore(deps): update image ghcr.io/onedr0p/sabnzbd to f2f3971
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4117
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Allow updates to cnpg 16
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.0-10
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-4
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-4
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4120
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v40.2.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v40.2.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Remove tf runner - it isn't doing anything useful
  kubernetes/apps/infrastructure/kustomization.yaml
  kubernetes/apps/infrastructure/namespace.yaml
  kubernetes/apps/infrastructure/tf-controller/app/helm-release.yaml
  kubernetes/apps/infrastructure/tf-controller/app/kustomization.yaml
  kubernetes/apps/infrastructure/tf-controller/app/tf-controller-secrets.yaml
  kubernetes/apps/infrastructure/tf-controller/install.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/minio.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/tf-controller-charts.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4121
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image teslamate/teslamate to v1.28.2
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.9
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 2.0.3
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 2.0.3
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.9
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image teslamate/teslamate to v1.28.2
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4122
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.2
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4123
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update micalevisk/last-issue-action digest to f566158
  .github/workflows/link-checker.yaml
Labels: area/github

chore(deps): update timheuer/base64-to-file digest to adaa40c
  .github/workflows/schemas.yaml
Labels: area/github

fix(container): update image kyverno to v3.1.1
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.1.1
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

chore(deps): update timheuer/base64-to-file digest to adaa40c
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update micalevisk/last-issue-action digest to f566158
  .github/workflows/link-checker.yaml
Labels: area/github

Add teslaspy backup
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 68f8903
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4124
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image codercom/code-server to v4.19.1
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/coder/code-server to v4.19.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.89.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.39.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/coder/code-server to v4.19.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image codercom/code-server to v4.19.1
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
