Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update image ghcr.io/onedr0p/exportarr to v1.4.0
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/radarr to v4.5.2.7388
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

Update flux to 2.0.0-rc.4
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to f27f444
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3438
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.3
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.8
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v46.4.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update oxsecurity/megalinter action to v7.0.3
  .github/workflows/lint.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.9
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(helm): update chart snapshot-validation-webhook to 1.7.2
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.58.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart snapshot-controller to 1.8.0
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image kyverno to v3
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

Upgrade kyverno to 3.0.0 and fix breaking changes
  kubernetes/apps/dbms/cloudnative-pg/install.yaml
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/apps/kyverno/kyverno/policies/delete-cpu-limits.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
Labels: area/cluster

Switch botkube helm chart
  kubernetes/apps/monitoring/botkube/app/helm-release.yaml
  kubernetes/cluster/repositories/helm-charts/botkube-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/cluster

Disable botkube for now
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.230.2
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v36.0.10
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(helm): update chart loki to 5.5.11
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/nginxinc/nginx-unprivileged to v1.25.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.59.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(github-release): update tektoncd/dashboard to v0.36.0
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

feat(helm): update chart ingress-nginx to 4.7.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Upgrade Talos to 1.4.5
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update image ghcr.io/onedr0p/theme-park to db0c907
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3443
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.1
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart descheduler to 0.27.1
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.1
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.12
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.26
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v46.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Fix rbac issue with kyverno
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/policies/delete-cpu-limits.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3448
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update oxsecurity/megalinter action to v7.0.4
  .github/workflows/lint.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.11
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(github-release): update prometheus-operator/prometheus-operator to v0.65.2
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(github-release): update tektoncd/dashboard to v0.36.1
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.231.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster
