Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(helm): update chart redis to 17.11.3
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.6.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.3
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.30.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Update loki to 5.5.3
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

bitnami and bjw-s to oci charts
  kubernetes/cluster/repositories/helm-charts/bitnami-charts.yaml
  kubernetes/cluster/repositories/helm-charts/bjw-s-charts.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.2.7100-248a2daf0
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3397
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.8.2
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.30.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/vector to v0.30.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart kube-prometheus-stack to 45.31.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Updatae helm release differ
  .github/scripts/helmReleaseDiff.mjs
Labels: area/github

vector: use_apiserver_cache
  kubernetes/apps/monitoring/vector/agent/config/vector.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3398
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.57.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2023.5.1
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3399
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.57.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.31.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart kube-prometheus-stack to 46.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Another oci change
  kubernetes/cluster/repositories/helm-charts/weave-gitops-charts.yaml
Labels: area/cluster

Tweak cloudflared config
  kubernetes/apps/networking/cloudflared/app/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-3
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.4
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3400
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.4
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/shlinkio/shlink to v3.6.0
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

Increase some timeouts
  kubernetes/apps/dbms/cloudnative-pg/install.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/install.yaml
  kubernetes/apps/monitoring/loki/install.yaml
  kubernetes/apps/monitoring/vector/install.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.25
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Don't need to go back to old version anymore
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to a818edc
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3405
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-4
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3410
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update actions/setup-python action to v4.6.1
  .github/workflows/schemas.yaml
Labels: area/github

fix(helm): update chart kyverno to 2.7.4
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.5
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.230.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster
