Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

feat(container)!: Update Image ghcr.io/recyclarr/recyclarr to v6
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image codercom/code-server to v4.17.1
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-13
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/coder/code-server to v4.17.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3990
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3992
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to a081c75
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.3.3996
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.3.4000
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update actions/setup-python action to v4.7.1
  .github/workflows/schemas.yaml
Labels: area/github

feat(container): update immich group to v1.80.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to b1369cc
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 17d778c
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.5.5
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.1
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/registry to v2.8.3
  kubernetes/apps/dev/registry/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v39.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart ingress-nginx to 4.8.1
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.81.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.60.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-14
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.3.4005
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.1.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Update k8s to 1.28.2
  infrastructure/talos/talconfig.yaml
Labels: none

Move whoami to app-template 2.0.1
  kubernetes/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

Move echoserver to app-template 2.0.1
  kubernetes/apps/default/echo-server/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.3.4009
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.81.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.42
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.24.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.3.4010
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.13.7
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Update to app-template 2.0.2
  kubernetes/apps/default/echo-server/app/helm-release.yaml
  kubernetes/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/github-actions-runner to b0a925c
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/github-actions-runner to e616ae3
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to d6adbb1
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.3
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
