Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

Fix node name
  kubernetes/apps/monitoring/miscellaneous/dashboards/vyos.json
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3305
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Tweaking PVC
  kubernetes/apps/dbms/cloudnative-pg/backup/backups-pvc.yaml
  kubernetes/apps/dev/registry/app/pvc.yaml
  kubernetes/apps/media/immich/app/immich-pvc.yaml
  kubernetes/apps/media/pvc/downloads-pvc.yaml
  kubernetes/apps/media/pvc/incomplete-pvc.yaml
  kubernetes/apps/media/pvc/media-backups-pvc.yaml
  kubernetes/apps/media/pvc/media-pvc.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to c52e66e
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/maxmind/geoipupdate to v5.1.1
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.1.6999-91e1e2e2c
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3312
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.15.1
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container): update immich group to v1.55.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

Upgrade talos to 1.4.2
  infrastructure/talos/talconfig.yaml
Labels: none

Remove krr workflow
  .github/workflows/krr.yaml
Labels: area/github

Upgrade flux to v2.0.0-rc.2
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(container): update immich group to v1.55.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.11.2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kyverno to 2.7.3
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.10.3
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.5.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.27.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 852d704
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/home-assistant to 1dbc2ba
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Switch cert approver
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/install.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/postfinance-charts.yaml
Labels: area/cluster

Only need one API running
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/qbittorrent to 0efdd8d
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to b24967c
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to 8c1f42b
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.1
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart weave-gitops to 4.0.21
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.27.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.15.2
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3316
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/registry to v2.8.2
  kubernetes/apps/dev/registry/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.228.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update tektoncd/triggers to v0.24.0
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update renovatebot/github-action action to v37.0.0
  .github/workflows/renovate.yaml
Labels: area/github

Upgrade to flux 2.0.0-rc.3
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to a6a8215
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3324
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Don't auto start direct-mount
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
Labels: area/cluster
