Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3931
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.59.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v50.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Add jaeger tracing
  kubernetes/apps/monitoring/jaeger/app/helm-release.yaml
  kubernetes/apps/monitoring/jaeger/app/kustomization.yaml
  kubernetes/apps/monitoring/jaeger/install.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/jaeger-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/cluster

Archive jaeger for now
  archive/jaeger/app/helm-release.yaml
  archive/jaeger/app/jaeger-charts.yaml
  archive/jaeger/app/kustomization.yaml
  archive/jaeger/install.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/intel-gpu-exporter to 6321ae1
  kubernetes/apps/system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.0.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v38.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(terraform): update terraform minio to 1.18.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(github-action)!: Update actions/checkout action
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v39.0.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v50.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 7.1.2
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.7
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.8
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.40
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.77.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.1
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart goldilocks to 7.2.0
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.18.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3938
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.1
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.13.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.9
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Use dotenv to load credentials
  .envrc
Labels: none

Upgrade to talos 1.5.2
  infrastructure/talos/talconfig.yaml
Labels: none

Tweak deploy to set nodes
  infrastructure/talos/deploy.sh
Labels: none

chore(deps): update image ghcr.io/onedr0p/github-actions-runner to b26a892
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.59.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.18.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.10
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.19.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart node-feature-discovery to 0.14.0
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-7
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.664
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.8.3
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.13.3
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
