Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(github-action): update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update allenporter/flux-local action to 4.2.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.13.2338
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.4.4170
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v41.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/radarr to v5.2.6.8376
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v41.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Moving s3 to hera temporarily
  infrastructure/terraform/minio/.gitignore
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/backend.tf
  infrastructure/terraform/minio/minio.tf
  infrastructure/terraform/minio/providers.tf
  kubernetes/apps/dbms/cloudnative-pg/backup/backups-pvc.yaml
  kubernetes/apps/dev/registry/app/pvc.yaml
  kubernetes/apps/home/frigate/app/volsync-config.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.4.4171
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.11
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.11
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.13.1
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

Move back to atlas
  infrastructure/terraform/minio/minio.tf
  kubernetes/main/apps/dbms/cloudnative-pg/backup/backups-pvc.yaml
  kubernetes/main/apps/dev/registry/app/pvc.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.7.2
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.7.2
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.57
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.57
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

Don't scrape NAS temporarily
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Bootstrapping staging
  kubernetes/staging/apps/kustomization.bootstrap
Labels: area/cluster

qbittorrent to new volsync pattern
  kubernetes/main/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/main/apps/media/qbittorrent/app/volsync-config.yaml
  kubernetes/main/apps/media/qbittorrent/install.yaml
  kubernetes/main/templates/volsync/kustomization.yaml
  kubernetes/main/templates/volsync/minio/externalsecret.yaml
  kubernetes/main/templates/volsync/minio/kustomization.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
  kubernetes/main/templates/volsync/pvc.yaml
Labels: area/cluster

sabnzbd to volsync template
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/main/apps/media/sabnzbd/app/volsync-config.yaml
  kubernetes/main/apps/media/sabnzbd/install.yaml
Labels: area/cluster

readarr to volsync template
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
  kubernetes/main/apps/media/readarr/app/kustomization.yaml
  kubernetes/main/apps/media/readarr/app/volsync-config.yaml
  kubernetes/main/apps/media/readarr/install.yaml
Labels: area/cluster

lidarr to volsync template
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
  kubernetes/main/apps/media/lidarr/app/kustomization.yaml
  kubernetes/main/apps/media/lidarr/app/volsync-config.yaml
  kubernetes/main/apps/media/lidarr/install.yaml
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

openbooks to volsync template
  kubernetes/main/apps/media/openbooks/app/helm-release.yaml
  kubernetes/main/apps/media/openbooks/app/kustomization.yaml
  kubernetes/main/apps/media/openbooks/app/volsync-config.yaml
  kubernetes/main/apps/media/openbooks/install.yaml
Labels: area/cluster

Calibre moving to volsync template
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
  kubernetes/main/apps/media/calibre-web/app/kustomization.yaml
  kubernetes/main/apps/media/calibre-web/app/volsync-config.yaml
  kubernetes/main/apps/media/calibre-web/install.yaml
Labels: area/cluster

Navidrome to volsync template
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/kustomization.yaml
  kubernetes/main/apps/media/navidrome/app/volsync-config.yaml
  kubernetes/main/apps/media/navidrome/install.yaml
Labels: area/cluster

sonarr to volsync template
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/main/apps/media/sonarr/app/kustomization.yaml
  kubernetes/main/apps/media/sonarr/app/volsync-config.yaml
  kubernetes/main/apps/media/sonarr/install.yaml
Labels: area/cluster

Frigate to volsync template
  kubernetes/main/apps/home/frigate/app/helm-release.yaml
  kubernetes/main/apps/home/frigate/app/kustomization.yaml
  kubernetes/main/apps/home/frigate/app/volsync-config.yaml
  kubernetes/main/apps/home/frigate/install.yaml
Labels: area/cluster

Node red to volsync template
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
  kubernetes/main/apps/home/node-red/app/kustomization.yaml
  kubernetes/main/apps/home/node-red/app/volsync-config.yaml
  kubernetes/main/apps/home/node-red/install.yaml
Labels: area/cluster

Home assistant to volsync template
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home/home-assistant/app/volsync-config.yaml
  kubernetes/main/apps/home/home-assistant/install.yaml
Labels: area/cluster

Mosquitto to volsync template
  kubernetes/main/apps/home/mosquitto/app/helm-release.yaml
  kubernetes/main/apps/home/mosquitto/app/kustomization.yaml
  kubernetes/main/apps/home/mosquitto/install.yaml
Labels: area/cluster

pgadmin to volsync template
  kubernetes/main/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/main/apps/dbms/pgadmin/app/kustomization.yaml
  kubernetes/main/apps/dbms/pgadmin/app/volsync-config.yaml
  kubernetes/main/apps/dbms/pgadmin/install.yaml
Labels: area/cluster

dashy to volsync template
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/dashy/app/kustomization.yaml
  kubernetes/main/apps/self-hosted/dashy/app/volsync-config.yaml
  kubernetes/main/apps/self-hosted/dashy/install.yaml
Labels: area/cluster

Change detection to volsync template
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/changedetection/app/kustomization.yaml
  kubernetes/main/apps/self-hosted/changedetection/app/volsync-config.yaml
  kubernetes/main/apps/self-hosted/changedetection/install.yaml
Labels: area/cluster

Add volsync taskfile support
  .taskfiles/ListJob.tmpl.yaml
  .taskfiles/Volsync.yaml
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  Taskfile.yaml
Labels: none

fix(helm): update chart reloader to 1.0.58
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 2.0.4
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
