Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(helm): update chart kubelet-csr-approver to 1.0.3
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 1.8.3
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.68.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(github-action): update allenporter/flux-local action to 3.1.0
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/plex to cdcf7d8
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3751
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v48.1.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v37.4.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(helm): update chart vpa to 2.2.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart goldilocks to 7.0.0
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3757
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.32
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Add ssd drive to worker nodes
  infrastructure/talos/talconfig.yaml
Labels: none

Add local-path csi
  kubernetes/apps/system/democratic-csi/install.yaml
  kubernetes/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/apps/system/democratic-csi/local-path/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/democratic-csi-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/cluster

loki/thanos to use local-hostpath
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

KPS to local-hostpath
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

volsync cache to localpath
  kubernetes/apps/dbms/pgadmin/app/volsync-config.yaml
  kubernetes/apps/home/frigate/app/volsync-config.yaml
  kubernetes/apps/home/home-assistant/app/volsync-config.yaml
  kubernetes/apps/home/node-red/app/volsync-config.yaml
  kubernetes/apps/media/bazarr/app/volsync-config.yaml
  kubernetes/apps/media/calibre-web/app/volsync-config.yaml
  kubernetes/apps/media/lidarr/app/volsync-config.yaml
  kubernetes/apps/media/navidrome/app/volsync-config.yaml
  kubernetes/apps/media/openbooks/app/volsync-config.yaml
  kubernetes/apps/media/overseerr/app/volsync-config.yaml
  kubernetes/apps/media/plex/app/volsync-config.yaml
  kubernetes/apps/media/prowlarr/app/volsync-config.yaml
  kubernetes/apps/media/qbittorrent/app/volsync-config.yaml
  kubernetes/apps/media/radarr-4k/app/volsync-config.yaml
  kubernetes/apps/media/radarr/app/volsync-config.yaml
  kubernetes/apps/media/readarr/app/volsync-config.yaml
  kubernetes/apps/media/recyclarr/app/volsync-config.yaml
  kubernetes/apps/media/sabnzbd/app/volsync-config.yaml
  kubernetes/apps/media/sonarr/app/volsync-config.yaml
  kubernetes/apps/self-hosted/changedetection/app/volsync-config.yaml
  kubernetes/apps/self-hosted/dashy/app/volsync-config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3758
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.8.11
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.13.3
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

Fix flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image codercom/code-server to v4.15.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.15.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3759
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Update terraform lock
  infrastructure/terraform/minio/.terraform.lock.hcl
Labels: none

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.4
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.10
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.4
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 198b9f5
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.4.3765
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Add etcd port
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.2.4.1999
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update immich group to v1.69.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.2
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.4.3768
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/sct/overseerr to v1.33.1
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3770
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Use env variable
  infrastructure/talos/talconfig.yaml
Labels: none
