Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

chore(deps): update image ghcr.io/onedr0p/home-assistant to v2024.3.0
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update terraform minio to 2.2.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

chore(deps): update image ghcr.io/onedr0p/sonarr to bbfcda0
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image dragonfly to v1.15.1
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart node-feature-discovery to 0.15.2
  kubernetes/main/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

Fix renovate auto-merge tag
  .github/renovate/autoMerge.json5
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/qbittorrent to f2895e6
  kubernetes/main/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to 7db08fb
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to fa8ddea
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/staging/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.14.3.4324
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update terraform minio to 2.2.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

chore(deps): update image ghcr.io/onedr0p/home-assistant to v2024.3.0
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v57.0.2
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/nodered/node-red to v3.1.7
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/simojenki/bonob to v0.8.0
  kubernetes/main/apps/media/bonob/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/simojenki/bonob to v0.8.0
  kubernetes/main/apps/media/bonob/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.14.3.4326
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Forgot authelia dependency
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
Labels: area/cluster

Add plex extra volumes
  kubernetes/main/apps/media/plex/app/cache-pvc.yaml
  kubernetes/main/apps/media/plex/app/helm-release.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.2-8
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

Separate PRs by cluster
  .github/renovate.json5
  .github/renovate/clusters.json5
Labels: area/github

chore(deps): update docker/login-action digest to e92390c
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update chart cilium to 1.15.2
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart cilium to 1.15.2
  kubernetes/staging/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart cilium to 1.15.2
  infrastructure/talos/main/extras/cni/kustomization.yaml
  infrastructure/talos/staging/extras/cni/kustomization.yaml
Labels: none

chore(deps): update cilium/cilium to v1.15.2
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Add labels as well to identify cluster
  .github/renovate/clusters.json5
Labels: area/github

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 06bf184
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 06bf184
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

Alter commit message too
  .github/renovate/clusters.json5
Labels: area/github

[main] Update Chart grafana to 7.3.7
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

[main] Update Image ghcr.io/cloudnative-pg/postgresql to v16.2-9
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

[staging] Update Image ghcr.io/cloudnative-pg/postgresql to v16.2-9
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v40.1.5
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update tj-actions/changed-files action
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

Don't need tags
  .github/renovate/clusters.json5
Labels: area/github

chore(deps): update docker/build-push-action action to v5.3.0
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update docker/setup-buildx-action action to v3.2.0
  .github/workflows/schemas.yaml
Labels: area/github

[main] Update Image ghcr.io/bjw-s/calibre-web to 9aef000
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

[main] Update Image ghcr.io/szinn/kubernetes-schemas-web to ab831cb
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
