Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

POC for encrypting configuration locally
  .envrc
  .sops.yaml
  .vscode/extensions.json
  .vscode/settings.json
  config.sops.env
Labels: none

chore(deps): pin peter-evans/create-issue-from-file action to
  .github/workflows/link-checker.yaml
Labels: area/github

chore(deps): pin peter-evans/create-issue-from-file action to
  .github/workflows/link-checker.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.1.4191
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.20
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.7.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.92.0
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.20
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.92.0
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.7.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Move cluster configuration locally
  .envrc
  .sops.yaml
  config.sops.env
Labels: none

Set name of postgres pods
  kubernetes/main/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.1.4193
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.92.1
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.21
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(container): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.21
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.92.1
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.1.4195
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.22
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.4
  kubernetes/main/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(github-action): update lycheeverse/lychee-action action to v1.9.1
  .github/workflows/link-checker.yaml
Labels: area/github

feat(container): update image ghcr.io/maxmind/geoipupdate to v6.1.0
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.1.4196
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.62
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v8.2
  kubernetes/main/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/staging/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image registry.k8s.io/sig-storage/csi-provisioner to v4
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.13.2
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image docker.io/cloudflare/cloudflared to v2024
  kubernetes/main/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart external-dns to 1.14.1
  kubernetes/main/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/nas/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/staging/apps/networking/external-dns/bind/helm-release.yaml
Labels: area/cluster

Fix jscpd
  .github/linters/jscpd/jscpd.json
Labels: area/github

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.3
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.1.4200
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/create-github-app-token digest to f04aa94
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart loki to 5.41.6
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.71.0
  kubernetes/main/bootstrap/crds/kustomization.yaml
  kubernetes/nas/bootstrap/crds/kustomization.yaml
  kubernetes/staging/bootstrap/crds/kustomization.yaml
Labels: area/cluster

chore(deps): update actions/create-github-app-token digest to f04aa94
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.1.4201
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.9.2
  kubernetes/main/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
