Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(helm): update chart grafana to 6.58.3
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.67.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

Maybe this fixes renovate not always running properly
  .github/renovate.json5
Labels: area/github

More dependency cleanup
  kubernetes/apps/dbms/cloudnative-pg/install.yaml
  kubernetes/apps/flux-system/add-ons/install.yaml
  kubernetes/apps/home/frigate/install.yaml
  kubernetes/apps/home/n8n/install.yaml
  kubernetes/apps/home/node-red/app/helm-release.yaml
  kubernetes/apps/home/node-red/install.yaml
  kubernetes/apps/kube-system/snapshot-controller/install.yaml
  kubernetes/apps/media/bazarr/install.yaml
  kubernetes/apps/media/calibre-web/install.yaml
  kubernetes/apps/media/lidarr/install.yaml
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/navidrome/install.yaml
  kubernetes/apps/media/openbooks/install.yaml
  kubernetes/apps/media/overseerr/install.yaml
  kubernetes/apps/media/plex-meta-manager/install.yaml
  kubernetes/apps/media/plex/install.yaml
  kubernetes/apps/media/prowlarr/install.yaml
  kubernetes/apps/media/qbittorrent/install.yaml
  kubernetes/apps/media/radarr-4k/install.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/install.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/readarr/install.yaml
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
  kubernetes/apps/media/recyclarr/install.yaml
  kubernetes/apps/media/sabnzbd/install.yaml
  kubernetes/apps/media/sonarr/install.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
  kubernetes/apps/monitoring/vector/install.yaml
  kubernetes/apps/networking/ingress-nginx/install.yaml
  kubernetes/apps/rook-ceph/rook-ceph/install.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/authelia/install.yaml
  kubernetes/apps/self-hosted/changedetection/install.yaml
  kubernetes/apps/self-hosted/dashy/install.yaml
  kubernetes/apps/self-hosted/shlink/install.yaml
  kubernetes/apps/system/node-feature-discovery/install.yaml
Labels: area/cluster

fix(container): update immich group to v1.67.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v17.13.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3708
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.13.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Archive tekton
  archive/tekton/kustomization.yaml
  archive/tekton/namespace.yaml
  archive/tekton/tekton/app/feature-flags.yaml
  archive/tekton/tekton/app/ingress.yaml
  archive/tekton/tekton/app/kustomization.yaml
  archive/tekton/tekton/app/tekton-source.yaml
  archive/tekton/tekton/install.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to c74f510
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3713
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.2.3.1955
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.58.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3720
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.1
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.30
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 1.8.2
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-validation-webhook to 1.7.4
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3724
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.44
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart botkube to v1.2.0
  kubernetes/apps/monitoring/botkube/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 241a8f0
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3734
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.8.5
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Tweak loki config
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Archive botkube
  archive/botkube/app/botkube-secrets.yaml
  archive/botkube/app/helm-release.yaml
  archive/botkube/app/kustomization.yaml
  archive/botkube/install.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3735
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.11.10
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

Rook to 1.12.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

Tweak install for talos to define disks better
  infrastructure/talos/talconfig.yaml
Labels: none

Add csiAddons
  kubernetes/apps/rook-ceph/rook-ceph/install.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/cluster/repositories/git/kubernetes-csi-addons.yaml
  kubernetes/cluster/repositories/git/kustomization.yaml
  kubernetes/cluster/repositories/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.3.3741
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v37.3.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.4
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.5.7328-2632c9d3a
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.8.6
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.26
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.31
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Archive n8n
  archive/n8n/app/helm-release.yaml
  archive/n8n/app/kustomization.yaml
  archive/n8n/app/n8n-secret.yaml
  archive/n8n/app/volsync-config.yaml
  archive/n8n/install.yaml
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/apps/home/kustomization.yaml
Labels: area/cluster

Purge archive (tekton, n8n, botkube)
  archive/botkube/app/botkube-secrets.yaml
  archive/botkube/app/helm-release.yaml
  archive/botkube/app/kustomization.yaml
  archive/botkube/install.yaml
  archive/n8n/app/helm-release.yaml
  archive/n8n/app/kustomization.yaml
  archive/n8n/app/n8n-secret.yaml
  archive/n8n/app/volsync-config.yaml
  archive/n8n/install.yaml
  archive/tekton/kustomization.yaml
  archive/tekton/namespace.yaml
  archive/tekton/tekton/app/feature-flags.yaml
  archive/tekton/tekton/app/ingress.yaml
  archive/tekton/tekton/app/kustomization.yaml
  archive/tekton/tekton/app/tekton-source.yaml
  archive/tekton/tekton/install.yaml
  kubernetes/cluster/repositories/helm-charts/botkube-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
