Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, area/taskfile, cluster/main, cluster/staging, cluster/nas

Don't need dragonfly snapshots
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
Labels: cluster/main

feat: scale up internal nginx-ingress
  kubernetes/main/apps/networking/nginx/internal/helm-release.yaml
Labels: cluster/main

feat: Remove jaeger
  kubernetes/main/apps/monitoring/jaeger/app/helm-release.yaml
  kubernetes/main/apps/monitoring/jaeger/app/kustomization.yaml
  kubernetes/main/apps/monitoring/jaeger/config/ingress.yaml
  kubernetes/main/apps/monitoring/jaeger/config/kustomization.yaml
  kubernetes/main/apps/monitoring/jaeger/config/production.yaml
  kubernetes/main/apps/monitoring/jaeger/config/service.yaml
  kubernetes/main/apps/monitoring/jaeger/install.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: cluster/main

feat: Database recovery scripts
  disaster-recovery/restore-dmarc.sh
  disaster-recovery/restore-immich.sh
  disaster-recovery/restore-shlink.sh
  disaster-recovery/restore-teslamate.sh
  disaster-recovery/restore-wikijs.sh
  tools/wipe-rook-shell.yaml
  tools/wipe-rook.sh
  tools/wipe-rook.yaml
Labels: none

fix: Don't backup lldap anymore
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: cluster/main

chore: Cleanup
  kubernetes/main/apps/cert-manager/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/backup/backups-secret.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/install.yaml
  kubernetes/main/apps/media/immich/app/db/backups-secret.yaml
  kubernetes/main/apps/networking/cloudflared/app/cloudflared-secrets.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/dns-endpoint.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/pdf-tool/install.yaml
  kubernetes/main/apps/system/intel-device-plugin/gpu/intel-gpu-plugin.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/app/helm-release.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/install.yaml
  kubernetes/main/cluster/config/flux.yaml
  kubernetes/main/cluster/repositories/helm-charts/democratic-csi-charts.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/main/cluster/repositories/helm-charts/lwolf-charts.yaml
  kubernetes/main/cluster/repositories/helm-charts/postfinance-charts.yaml
Labels: cluster/main

doc: Update readme
  README.md
Labels: none

Reworking gatus cluster monitoring
  kubernetes/main/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/main/apps/home/home-assistant/install.yaml
  kubernetes/main/apps/media/immich/app/server/kustomization.yaml
  kubernetes/main/apps/media/immich/install.yaml
  kubernetes/main/apps/media/overseerr/install.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/install.yaml
  kubernetes/main/apps/media/radarr-4k/app/kustomization.yaml
  kubernetes/main/apps/media/radarr-4k/install.yaml
  kubernetes/main/apps/media/radarr/app/kustomization.yaml
  kubernetes/main/apps/media/radarr/install.yaml
  kubernetes/main/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/main/apps/media/sabnzbd/install.yaml
  kubernetes/main/apps/media/sonarr/app/kustomization.yaml
  kubernetes/main/apps/media/sonarr/install.yaml
  kubernetes/main/apps/monitoring/gatus/app/helm-release.yaml
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kromgo/install.yaml
  kubernetes/main/apps/networking/nginx/install.yaml
  kubernetes/main/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/apps/self-hosted/shlink/install.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/kustomization.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/kustomization.yaml
  kubernetes/main/apps/self-hosted/wikijs/install.yaml
  kubernetes/main/templates/gatus/external/configmap.yaml
  kubernetes/main/templates/gatus/guarded/configmap.yaml
  kubernetes/main/templates/gatus/guarded/kustomization.yaml
Labels: cluster/main

fix(external-dns): Update to 1.14.4 with crd updates
  kubernetes/main/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/dns-endpoint.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/kustomization.yaml
Labels: cluster/main

fix: remove tesla-spy runner
  kubernetes/main/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: cluster/main

feat: Add cert tasks
  .taskfiles/Bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: minor tweaks
  kubernetes/staging/apps/networking/external-dns/bind/helm-release.yaml
Labels: cluster/staging

refactor(external-dns): housekeeping
  kubernetes/main/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/external-dns-cloudflare-secrets.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
Labels: cluster/main

fix(nginx): Housekeeping
  kubernetes/main/apps/networking/nginx/external/helm-release.yaml
Labels: cluster/main

fix: Remove unused setting
  kubernetes/main/cluster/vars/cluster-settings.cfg
  kubernetes/main/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/main/cluster/vars/cluster-settings.yaml
Labels: cluster/main

feat: Trying out homepage
  kubernetes/main/apps/self-hosted/homepage/app/configuration.yaml
  kubernetes/main/apps/self-hosted/homepage/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/homepage/app/homepage-secrets.yaml
  kubernetes/main/apps/self-hosted/homepage/app/kustomization.yaml
  kubernetes/main/apps/self-hosted/homepage/app/rbac.yaml
  kubernetes/main/apps/self-hosted/homepage/install.yaml
  kubernetes/main/apps/self-hosted/kustomization.yaml
Labels: cluster/main

Continuing homepage experiment
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/homepage/app/configuration.yaml
  kubernetes/main/apps/self-hosted/homepage/app/homepage-secrets.yaml
  kubernetes/main/apps/self-hosted/kustomization.yaml
Labels: cluster/main

csr depends on cilium
  kubernetes/main/bootstrap/talos/apps/helmfile.yaml
Labels: cluster/main

Update which images are used
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
Labels: area/taskfile

Add rebase stale PRs
  .github/renovate.json5
Labels: area/github

Add skip status checks
  .github/renovate.json5
Labels: area/github

Change uid/gid
  hack/ubuntu.yaml
  hack/ushell.sh
  kubernetes/main/apps/home/frigate/install.yaml
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
  kubernetes/main/apps/media/lidarr/install.yaml
Labels: area/hack, cluster/main

Upgrading loki to 6.0.0
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

feat: Spegel for staging cluster
  kubernetes/staging/apps/kube-system/kustomization.yaml
  kubernetes/staging/apps/kube-system/spegel/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/staging/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/staging/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/staging/apps/kube-system/spegel/install.yaml
  kubernetes/staging/bootstrap/talos/apps/helmfile.yaml
  kubernetes/staging/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/staging/cluster/repositories/helm-charts/spegel-charts.yaml
Labels: cluster/staging

feat: Spegel for main cluster
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/helm-release.yaml
  kubernetes/main/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/spegel/install.yaml
  kubernetes/main/bootstrap/talos/apps/helmfile.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/main/cluster/repositories/helm-charts/spegel-charts.yaml
Labels: cluster/main

fix: Env setting for vector
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: cluster/main

fix(loki): Loki config settings
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

Only need one controller
  kubernetes/staging/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: cluster/staging

Parseable logging
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/parseable/app/helm-release.yaml
  kubernetes/main/apps/monitoring/parseable/app/kustomization.yaml
  kubernetes/main/apps/monitoring/parseable/app/parseable-secrets.yaml
  kubernetes/main/apps/monitoring/parseable/install.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
  terraform/minio/bucket-parseable.tf
Labels: cluster/main

Upgrade loki to 6.0
  .taskfiles/Minio/Taskfile.yaml
  Taskfile.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/main/apps/monitoring/loki/app/loki-secrets.yaml
  terraform/minio/bucket-authentik.tf
  terraform/minio/bucket-loki.tf
  terraform/minio/bucket-thanos.tf
  terraform/minio/bucket-volsync.tf
  terraform/minio/providers.tf
Labels: area/taskfile, cluster/main

Upgrade loki to 6.0, with feeling
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

fix(parseable): Turn down parseable
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
  kubernetes/main/apps/monitoring/parseable/app/helm-release.yaml
  kubernetes/main/apps/monitoring/parseable/app/kustomization.yaml
  kubernetes/main/apps/monitoring/parseable/app/parseable-secrets.yaml
  kubernetes/main/apps/monitoring/parseable/install.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
  terraform/minio/bucket-parseable.tfx
Labels: cluster/main

fix(vector): Change label for msg
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: cluster/main

fix(loki): Update chart to 6.1.0
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

chore(deps): Update vector to 0.37.1
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: cluster/main

fix(loki): Adjust topology
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

fix(parseable): Turn down parseable
  terraform/minio/bucket-parseable.tfx
Labels: none

fix(renovate): oci charts confuse renovate
  .github/renovate/packageRules.json5
Labels: area/github

fix(loki): Adjust topology
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

fix(dragonfly): add lock_on_hashtags
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
Labels: cluster/main

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"
