Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

Formatting
  .github/renovate/autoMerge.json5
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3326
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart actions-runner-controller to 0.23.3
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
Labels: area/cluster

Upgrade to talos 1.4.4
  infrastructure/talos/talconfig.yaml
Labels: none

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-2
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/postgres-initdb to v14.8
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/apps/home/n8n/app/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

Move authelia to new initdb and cleanup reloader use
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
Labels: area/cluster

home assistant to new initdb and reloader cleanup
  kubernetes/apps/home/home-assistant-code-server/app/helm-release.yaml
  kubernetes/apps/home/home-assistant-code-server/app/home-assistant-code-server-secrets.yaml
  kubernetes/apps/home/home-assistant-code-server/app/kustomization.yaml
  kubernetes/apps/home/home-assistant-code-server/install.yaml
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/apps/home/home-assistant/app/home-assistant-secrets.yaml
Labels: area/cluster

n8n to new initdb
  kubernetes/apps/home/n8n/app/helm-release.yaml
  kubernetes/apps/home/n8n/app/n8n-secret.yaml
Labels: area/cluster

immich to new initdb and reloader cleanup
  kubernetes/apps/media/immich/app/immich-config.yaml
  kubernetes/apps/media/immich/app/immich-secrets.yaml
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/typesense/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

grafana to new initdb and reloader cleanup
  kubernetes/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

teslamate to new initdb and reloader cleanup
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/apps/monitoring/teslamate/app/teslamate-secrets.yaml
Labels: area/cluster

dmarc-report to new initdb and reloader cleanup
  kubernetes/apps/security/dmarc-report/app/dmarc-report-secrets.yaml
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
Labels: area/cluster

lldap to new initdb
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/lldap-secrets.yaml
Labels: area/cluster

outline to new initdb and reloader cleanup
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/outline-secrets.yaml
Labels: area/cluster

shlink to new initdb and reloader cleanup
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/shlink-secrets.yaml
  kubernetes/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

Fix podmonitor
  kubernetes/apps/home/home-assistant/app/podmonitor.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3330
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 5b917bd
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

media reloader cleanup
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/lidarr-secrets.yaml
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/plex/app/plex-secrets.yaml
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr-4k/app/radarr-4k-secrets.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/radarr-secrets.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/readarr/app/helm-release.yaml
  kubernetes/apps/media/readarr/app/readarr-secrets.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/sabnzbd-secrets.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/sonarr-secrets.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

reloader cleanup
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/prowlarr-secrets.yaml
  kubernetes/apps/monitoring/alertmanager-discord/app/alertmanager-secrets.yaml
  kubernetes/apps/monitoring/alertmanager-discord/app/helm-release.yaml
  kubernetes/apps/monitoring/botkube/app/botkube-secrets.yaml
  kubernetes/apps/monitoring/botkube/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/thanos-secrets.yaml
  kubernetes/apps/monitoring/unifi-poller/app/helm-release.yaml
  kubernetes/apps/monitoring/unifi-poller/app/unifi-poller-secrets.yaml
Labels: area/cluster

reloader cleanup
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/apps/dbms/pgadmin/app/pgadmin-secret.yaml
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
  kubernetes/apps/dbms/redis/lb/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/self-hosted/dashy/app/dashy-secrets.yaml
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
  kubernetes/apps/self-hosted/dashy/app/kustomization.yaml
Labels: area/cluster

reloader cleanup
  kubernetes/apps/networking/cloudflared/app/cloudflared-secrets.yaml
  kubernetes/apps/networking/cloudflared/app/cloudflared-tunnel.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/cluster

reloader cleanup
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update lycheeverse/lychee-action action to v1.8.0
  .github/workflows/link-checker.yaml
Labels: area/github

Use cilium lb-ipam-ips annotation for load balancers
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Add loadBalancerIP back in
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.228.2
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3331
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.28.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Add lb-pool
  kubernetes/apps/kube-system/cilium/app/bgp-config.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/lb-pool.yaml
Labels: area/cluster

Common cilium configuration
  infrastructure/talos/deploy-cni.sh
  kubernetes/apps/kube-system/cilium/app/cilium-values.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
Labels: area/cluster

Remove loadBalancerIP
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Combining vyos logs in aggregator
  kubernetes/apps/monitoring/miscellaneous/dashboards/vyos.json
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/cluster

Add schema tag
  kubernetes/apps/kube-system/cilium/app/lb-pool.yaml
Labels: area/cluster

Turn monitoring back on
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

Speedtest every 4hrs
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Don't need suffix on configmap
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
