Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

feat(terraform): update terraform minio to 1.19.0
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image docker.io/rogerrum/alertmanager-discord to v1.0.5
  kubernetes/apps/monitoring/alertmanager-discord/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.47
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image kube-prometheus-stack to v52
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to v0.6.21
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.1.4058
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v52.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.13.13
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.33
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.8.3
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.48
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v40.0.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v52.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.1.4059
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.703
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

Update snapshot controller
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update rook ceph group to v1.12.7
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.18.3
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container): update image redis to v18.2.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.36.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart snapshot-validation-webhook to 1.9.0
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart snapshot-controller to 2.0.0
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.5
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.83.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to c061701
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.1.4060
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

home-assistant to 2.0.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

mosquitto to 2.0.3
  kubernetes/apps/home/mosquitto/app/helm-release.yaml
Labels: area/cluster

Node red to 2.0.3
  kubernetes/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

Bonob to 2.0.3
  kubernetes/apps/media/bonob/app/helm-release.yaml
Labels: area/cluster

calibre-web to 2.0.3
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

immich to 2.0.3
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/typesense/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

lidarr to 2.0.3
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

Reoorg home-assistant hr
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Add service monitor
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Set secrets to be 0700 mode
  kubernetes/apps/home/mosquitto/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.2.4061
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.709
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
