Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(helm): update chart kube-prometheus-stack to 45.21.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart weave-gitops to 4.0.20
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.226.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

Add in intel device plugin
  kubernetes/apps/media/plex/app/helm-release.yaml
  kubernetes/apps/system/intel-device-plugin/exporter/helm-release.yaml
  kubernetes/apps/system/intel-device-plugin/exporter/kustomization.yaml
  kubernetes/apps/system/intel-device-plugin/gpu/helm-release.yaml
  kubernetes/apps/system/intel-device-plugin/gpu/intel-gpu-plugin.yaml
  kubernetes/apps/system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/system/intel-device-plugin/install.yaml
  kubernetes/apps/system/intel-device-plugin/operator/helm-release.yaml
  kubernetes/apps/system/intel-device-plugin/operator/kustomization.yaml
  kubernetes/apps/system/intel-gpu-plugin/app/helm-release.yaml
  kubernetes/apps/system/intel-gpu-plugin/install.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
  kubernetes/apps/system/node-feature-discovery/install.yaml
  kubernetes/apps/system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/apps/system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/intel-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/cluster

Reload on secret change
  kubernetes/apps/monitoring/unifi-poller/app/helm-release.yaml
Labels: area/cluster

Add bazarr
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/volsync-config.yaml
  kubernetes/apps/media/bazarr/install.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 050c63d
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/bazarr to 052551f
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 713facb
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/home-assistant to b61019e
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/qbittorrent to 4fb6a9d
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to afd5b40
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to cbc7bdb
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/dmarc-report to 3bdb654
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.7.7
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.13.1
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.24
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.3.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Upgrade talos to 1.4.1
  infrastructure/talos/talconfig.yaml
Labels: none

pin lldap latest until next release
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v35.9.1
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(helm): update chart cloudnative-pg to 0.18.0
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.22.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Teslamate only needs to be ro
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 0eb54bd
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.3.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.56.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.23.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/onedr0p/sabnzbd to v4
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 5665b78
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

Don't need frr data
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Move speed test scrape to 6hr interval
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3246
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.3.2
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3249
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3267
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to b54c761
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/outlinewiki/outline to v0.69.1
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.34.0
  .pre-commit-config.yaml
Labels: none
