Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(helm): update chart weave-gitops to 4.0.18
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.224.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/vector to v0.29.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v35.8.0
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(helm): update chart metrics-server to 3.10.0
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/maxmind/geoipupdate to v5
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

Update terraform controller
  kubernetes/apps/infrastructure/tf-controller/app/helm-release.yaml
  kubernetes/apps/infrastructure/tf-controller/install.yaml
Labels: area/cluster

Update flux near OOM detection
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.4.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3131
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.9.4
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Tweak flux config
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

chore(deps): update image docker.io/excalidraw/excalidraw to f4d071b
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/prodrigestivill/postgres-backup-local to b3905c5
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/maxmind/geoipupdate to v5.0.2
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.4.4
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/ceph/ceph to v17.2.6
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix(github-action): update actions/checkout action to v3.5.2
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart weave-gitops to 4.0.19
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.11.4
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform minio to 1.14.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container)!: Update Image docker.io/dpage/pgadmin4 to v7
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

Increase resources for ingress-nginx
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Add lldap
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/kustomization.yaml
  kubernetes/apps/security/lldap/app/lldap-secrets.yaml
  kubernetes/apps/security/lldap/install.yaml
Labels: area/cluster

Move authelia backend config to env
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/patches/env.yaml
Labels: area/cluster

Trying out lldap as authelia backend
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/patches/env.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/lldap-secrets.yaml
Labels: area/cluster

Update prowlarr
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.224.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.3.1
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.10.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart app-template to 1.4.0
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.53.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Put trusted network check back
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to 8e5e7e5
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Authelia with lldap
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/patches/env.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/lldap-secrets.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to 8e5e7e5 (#1649)
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Grafana uses OIDC
  kubernetes/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

fix(container): update image ghcr.io/maxmind/geoipupdate to v5.0.3
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/lidarr to v1.1.4.3027
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster
