Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.10.2287
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.2.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.2.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.10.2287
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/golift/unifi-poller to v2.9.4
  kubernetes/apps/monitoring/unifi-poller/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.69.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.69.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(container): update image docker.io/golift/unifi-poller to v2.9.4
  kubernetes/apps/monitoring/unifi-poller/app/helm-release.yaml
Labels: area/cluster

Use stock action runners
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.3.4070
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 2.0.1
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container): update image docker.io/timberio/vector to v0.34.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/timberio/vector to v0.34.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 2.0.1
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

Add curl to schema publish workflow
  .github/workflows/schemas.yaml
Labels: area/github

Add service account to ghr
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

Add cacheAccessMode
  kubernetes/apps/home/home-assistant/app/volsync-config.yaml
Labels: area/cluster

Update grafana pages
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

upgrade to customManagers
  .github/renovate.json5
Labels: area/github

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to f122fbc
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update immich group to v1.85.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.85.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update image redis to v18.2.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.51
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.2.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.51
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Add Tesla-Spy
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/tesla-spy/app/ghcr-credentials.yaml
  kubernetes/apps/self-hosted/tesla-spy/app/helm-release.yaml
  kubernetes/apps/self-hosted/tesla-spy/app/kustomization.yaml
  kubernetes/apps/self-hosted/tesla-spy/app/tesla-spy-secrets.yaml
  kubernetes/apps/self-hosted/tesla-spy/install.yaml
Labels: area/cluster

fix(container): update image thanos to v12.14.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Use latest tag rather than rolling
  kubernetes/apps/self-hosted/tesla-spy/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.14.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Add Tesla-Spy datasource
  kubernetes/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Upgrade talos to 1.5.5 and k8s to 1.28.3
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image weave-gitops to v4.0.34
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update prometheus-operator/prometheus-operator to v0.69.1
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster
