Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

Move wikijs to wiki
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

Add ssh key for wikijs
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
  kubernetes/apps/self-hosted/wikijs/app/wikijs-secrets.yaml
Labels: area/cluster

Add wikijs database backup
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: area/cluster

Use a deploy key
  kubernetes/apps/self-hosted/wikijs/app/wikijs-secrets.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3860
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.616
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

Decommission outline
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/bucket-outline.tf
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/kustomization.yaml
  kubernetes/apps/self-hosted/outline/app/outline-secrets.yaml
  kubernetes/apps/self-hosted/outline/app/redis.json
  kubernetes/apps/self-hosted/outline/install.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

Remove postgres bucket
  infrastructure/terraform/minio/bucket-postgresql.tf
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 18a6eba
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-3
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.620
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.3.3863
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.622
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.625
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/requarks/wiki to v2.5.300
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.4
  .pre-commit-config.yaml
Labels: none

feat(container): update image ghcr.io/onedr0p/radarr to v4.7.5.7809
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.3.3867
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/github-actions-runner to v2.308.0
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/postgres-init to v14.9
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.11.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.15.4
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update cilium/cilium to v1.14.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.14.1
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.3
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.58.9
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/timberio/vector to v0.32.0
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/typesense/typesense to v0.25.0
  kubernetes/apps/media/immich/app/typesense/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.73.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.12.2
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to adafa63
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.629
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.28
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.6.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(helm): update chart loki to 5.13.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-4
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.16
  kubernetes/apps/home/mosquitto/app/helm-release.yaml
Labels: area/cluster

feat(container): update image public.ecr.aws/docker/library/redis to v7.2.0
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

Revert mosquitto
  kubernetes/apps/home/mosquitto/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.3.3870
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
