Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

feat(container): update image public.ecr.aws/docker/library/haproxy to v2.8.0
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

feat(github-action): update pascalgn/size-label-action action to v0.5.0
  .github/workflows/meta-label-size.yaml
Labels: area/github

Manage cloudflare via terraform
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/account.tf
  infrastructure/terraform/cloudflare/domain_k8s.tf
  infrastructure/terraform/cloudflare/domain_tech.tf
  infrastructure/terraform/cloudflare/locals.tf
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/dns.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/outputs.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/variables.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/waf.tf
  infrastructure/terraform/cloudflare/providers.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3450
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.11.7
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.57.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Oops, broke email
  infrastructure/terraform/cloudflare/domain_k8s.tf
Labels: none

fix(helm): update chart node-feature-discovery to 0.13.2
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.2
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.6.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Update flux group
  .github/renovate/groups.json5
Labels: area/github

fix(github-release): update flux group to v2.0.0-rc.5
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v36.0.14
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/calibre-web to 64dee26
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3467
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.6.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v46.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

flux addons to single install
  kubernetes/apps/flux-system/add-ons/install.yaml
  kubernetes/apps/flux-system/add-ons/kustomization.yaml
Labels: area/cluster

intel-device-plugin to single install
  kubernetes/apps/system/intel-device-plugin/install.yaml
  kubernetes/apps/system/intel-device-plugin/kustomization.yaml
Labels: area/cluster

vector to single install
  kubernetes/apps/monitoring/vector/install.yaml
  kubernetes/apps/monitoring/vector/kustomization.yaml
Labels: area/cluster

media to single install per app
  kubernetes/apps/media/lidarr/install.yaml
  kubernetes/apps/media/lidarr/kustomization.yaml
  kubernetes/apps/media/radarr-4k/install.yaml
  kubernetes/apps/media/radarr-4k/kustomization.yaml
  kubernetes/apps/media/radarr/install.yaml
  kubernetes/apps/media/radarr/kustomization.yaml
  kubernetes/apps/media/sonarr/install.yaml
  kubernetes/apps/media/sonarr/kustomization.yaml
Labels: area/cluster

shlilnk to single install
  kubernetes/apps/self-hosted/shlink/install.yaml
  kubernetes/apps/self-hosted/shlink/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3473
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v36.0.15
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.2.3480
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/mendhak/http-https-echo to v30
  kubernetes/apps/default/echo-server/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 8a3fe39
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.6.1
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/plex to 24b3903
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.7.1882
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.9
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v36.0.17
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3489
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.60.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.3.7162-b0a36929b
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3499
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.0.3501
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.231.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
