Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(deps): update image ghcr.io/onedr0p/intel-gpu-exporter to f5aea87
  kubernetes/apps/system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.3
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3698
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.0.12
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.11.8
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart grafana to 6.58.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/traefik/whoami to v1.10.0
  kubernetes/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

Whoami moved to 8080
  kubernetes/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update flux group to v2.0.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.0.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.15.3
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container): update image docker.io/cloudflare/cloudflared to v2023.7.0
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v47.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Fix pattern for flux group
  .github/renovate/groups.json5
Labels: area/github

fix(container): update image ghcr.io/fluxcd/flux-manifests to v2.0.1
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(container): update image docker.io/outlinewiki/outline to v0.70.2
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3700
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image docker.io/traefik/whoami to v1.10.1
  kubernetes/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.2
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update docker/setup-buildx-action action to v2.9.1
  .github/workflows/schemas.yaml
Labels: area/github

feat(helm): update chart goldilocks to 6.8.0
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform minio to 1.16.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container)!: Update Image ghcr.io/maxmind/geoipupdate to v6
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image kube-prometheus-stack to v48
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update renovatebot/github-action action to v39.0.0
  .github/workflows/renovate.yaml
Labels: area/github

Update kps and grafana
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 033ef41
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3701
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.2
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

Don't need rook direct-mount anymore
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/pvc.yaml
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/scripts/backup-rbd.sh
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/kustomization.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v48.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.8.4
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.1.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action): update actions/setup-python action to v4.7.0
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/calibre-web to 462de85
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 4c45fca
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.3
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.2
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster
