Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

Parameterize BGP pool
  kubernetes/apps/kube-system/cilium/app/configmap.yaml
  kubernetes/cluster/vars/cluster-settings.cfg
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.4.6
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3216
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v36.0.3
  .github/workflows/renovate.yaml
Labels: area/github

lldap doesn't need to be external
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3219
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.19.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 0e36ae6
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3224
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Moving homelab to VLAN11
  infrastructure/talos/deploy.sh
  infrastructure/talos/health.sh
  infrastructure/talos/patch-common.yaml
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/kube-system/cilium/app/configmap.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

Update prowlarr
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Cluster bringup
  kubernetes/apps/kustomization.bootstrap
Labels: area/cluster

Extra dependencies for startup
  kubernetes/apps/media/lidarr/install.yaml
  kubernetes/apps/media/radarr-4k/install.yaml
  kubernetes/apps/media/radarr/install.yaml
  kubernetes/apps/media/sonarr/install.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink-web-client to v3.10.1
  kubernetes/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.54.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.55.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3235
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/outlinewiki/outline to v0.69.0
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.20.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Add external services IPs as variables
  kubernetes/apps/networking/external-services/external-hades-ui.yaml
  kubernetes/apps/networking/external-services/external-minio.yaml
  kubernetes/apps/networking/external-services/external-octo-ui.yaml
  kubernetes/apps/networking/external-services/external-pihole-ui.yaml
  kubernetes/apps/networking/external-services/external-s3.yaml
  kubernetes/cluster/vars/cluster-settings.cfg
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

Retire jackett
  kubernetes/apps/media/jackett/app/helm-release.yaml
  kubernetes/apps/media/jackett/app/kustomization.yaml
  kubernetes/apps/media/jackett/app/volsync-config.yaml
  kubernetes/apps/media/jackett/install.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/cluster

Retire excalidraw
  kubernetes/apps/self-hosted/excalidraw/app/helm-release.yaml
  kubernetes/apps/self-hosted/excalidraw/app/kustomization.yaml
  kubernetes/apps/self-hosted/excalidraw/install.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3238
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Add tech domain
  kubernetes/apps/networking/ingress-nginx/app/wildcard-certificate.yaml
Labels: area/cluster

Scrape vyos metrics
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/miscellaneous/dashboards/kustomization.yaml
  kubernetes/apps/monitoring/miscellaneous/dashboards/vyos.json
Labels: area/cluster

feat(github-action): update peter-evans/find-comment action to v2.4.0
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(helm): update chart redis to 17.10.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

pihole has its own cert
  kubernetes/apps/networking/external-services/external-pihole-ui.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
Labels: area/cluster

Hades has its own certificate
  kubernetes/apps/networking/external-services/external-hades-ui.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
Labels: area/cluster

Go directly to minio
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/providers.tf
Labels: none

s3 is accessed directly
  kubernetes/apps/networking/external-services/external-s3.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to a11f832
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.225.2
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3243
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Octoprint has its own certificate
  kubernetes/apps/networking/external-services/external-octo-ui.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3244
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update prometheus-operator/prometheus-operator to v0.64.1
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(helm): update chart cloudnative-pg to 0.17.2
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.55.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update tekton group
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster
