Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, area/taskfile, cluster/main, cluster/staging, cluster/nas

feat: Move staging to use L2, not bgp
  config.sops.env
  kubernetes/staging/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/staging/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/staging/apps/kube-system/cilium/config/l2-policy.yaml
  kubernetes/staging/apps/kube-system/cilium/config/peering-policy.yaml
  kubernetes/staging/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/staging/cluster/vars/cluster-settings.yaml
Labels: cluster/staging

feat: Move main to use L2, not bgp
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2-policy.yaml
  kubernetes/main/apps/kube-system/cilium/config/peering-policy.yaml
Labels: cluster/main

chore: config cleanup
  config.sops.env
  kubernetes/main/apps/kube-system/cilium/config/lb-pool.yaml
  kubernetes/main/cluster/vars/cluster-settings.cfg
  kubernetes/main/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/main/cluster/vars/cluster-settings.yaml
  kubernetes/staging/apps/kube-system/cilium/config/lb-pool.yaml
  kubernetes/staging/cluster/vars/cluster-settings.cfg
  kubernetes/staging/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/staging/cluster/vars/cluster-settings.yaml
Labels: cluster/main, cluster/staging

fix: add devices to cilium
  hack/ubuntu.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/apps/kube-system/cilium/config/l2-policy.yaml
  kubernetes/main/apps/kube-system/cilium/config/lb-pool.yaml
Labels: area/hack, cluster/main

fix: vector config
  kubernetes/main/apps/observability/loki/app/helm-release.yaml
  kubernetes/main/apps/observability/vector/aggregator/config/vector.yaml
Labels: cluster/main

fix: Fully qualify svc references to dbms namespace
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/main/apps/home/home-assistant/app/home-assistant-secrets.yaml
  kubernetes/main/apps/observability/grafana/app/grafana-secrets.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/observability/teslamate/app/teslamate-secrets.yaml
  kubernetes/main/apps/security/authentik/app/authentik-secret.yaml
  kubernetes/main/apps/security/dmarc-report/app/dmarc-report-secrets.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/shlink-secrets.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: cluster/main, cluster/staging

fix: Fully qualify svc references to media namespace
  kubernetes/main/apps/media/immich/db/helm-release.yaml
  kubernetes/main/apps/self-hosted/homepage/app/configuration.yaml
Labels: cluster/main

fix: Fully qualify svc references to observability namespace
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/observability/loki/app/helm-release.yaml
  kubernetes/main/apps/observability/thanos/app/helm-release.yaml
  kubernetes/main/apps/observability/vector/agent/config/vector.yaml
  kubernetes/main/apps/observability/vector/aggregator/config/vector.yaml
Labels: cluster/main

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"
