Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

Add csr-approver to talos bootstrap extras
  infrastructure/talos/deploy-cni.sh
  infrastructure/talos/deploy-extras.sh
  infrastructure/talos/extras/cni/kustomization.yaml
  infrastructure/talos/extras/csr-approver/kustomization.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to b509ec6
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3332
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 6.5.6
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vpa to 1.7.5
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.11.6
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

Add plex-meta-manager
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/plex-meta-manager/app/config.yaml
  kubernetes/apps/media/plex-meta-manager/app/cronjob.yaml
  kubernetes/apps/media/plex-meta-manager/app/kustomization.yaml
  kubernetes/apps/media/plex-meta-manager/app/plex-meta-manager-secrets.yaml
  kubernetes/apps/media/plex-meta-manager/install.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.28.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Remove unnecessary file
  infrastructure/talos/kustomization.yaml
Labels: none

Add plex-meta-manager
  kubernetes/apps/media/plex-meta-manager/app/config.yaml
  kubernetes/apps/media/plex-meta-manager/app/config/config.yaml
  kubernetes/apps/media/plex-meta-manager/app/cronjob.yaml
  kubernetes/apps/media/plex-meta-manager/app/helm-release.yaml
  kubernetes/apps/media/plex-meta-manager/app/kustomization.yaml
  kubernetes/apps/media/plex-meta-manager/app/plex-meta-manager-config.yaml
  kubernetes/apps/media/plex-meta-manager/app/plex-meta-manager-secrets.yaml
  kubernetes/apps/media/plex-meta-manager/app/scripts/run.sh
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3336
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.229.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.6.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Configuring pmm
  kubernetes/apps/media/plex-meta-manager/app/config/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3349
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Adding trakt
  kubernetes/apps/media/plex-meta-manager/app/config/config.yaml
  kubernetes/apps/media/plex-meta-manager/app/helm-release.yaml
  kubernetes/apps/media/plex-meta-manager/app/plex-meta-manager-secrets.yaml
Labels: area/cluster

Switch pmm to hr
  kubernetes/apps/media/plex-meta-manager/app/config/config.yaml
  kubernetes/apps/media/plex-meta-manager/app/helm-release.yaml
Labels: area/cluster

Upgrade talos to 1.27.2
  infrastructure/talos/talconfig.yaml
Labels: none

feat(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.42
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.56.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart redis to 17.11.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Adjusting collections
  kubernetes/apps/media/plex-meta-manager/app/config/config.yaml
  kubernetes/apps/media/plex-meta-manager/app/helm-release.yaml
Labels: area/cluster

Remove animations
  kubernetes/apps/media/plex-meta-manager/app/config/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3373
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.56.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.7
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

feat(container): update image codercom/code-server to v4.13.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.13.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cert-manager to v1.12.0
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.29.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3386
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.56.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3390
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update timheuer/base64-to-file digest to ca9e30b
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 267772a
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3392
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.1.3395
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.5.1832
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
