Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, area/taskfile, cluster/main, cluster/staging, cluster/nas

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"

fix(grafana): Dashboards cleanup
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: cluster/main

fix(dragonfly): tweak cluster definition
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
Labels: cluster/main

fix(loki): Reducing to defaults
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
  terraform/minio/bucket-loki.tf
Labels: cluster/main

Refactor tf to support multiple buckets
  terraform/authentik/app-home-assistant.tf
  terraform/minio/bucket-authentik.tf
  terraform/minio/bucket-loki.tf
  terraform/minio/bucket-thanos.tf
  terraform/minio/bucket-volsync.tf
  terraform/minio/modules/minio_bucket/main.tf
  terraform/minio/modules/minio_bucket/outputs.tf
  terraform/minio/modules/minio_bucket/variables.tf
  terraform/minio/modules/onepassword_minio_bucket/main.tf
  terraform/minio/modules/onepassword_minio_bucket/variables.tf
  terraform/minio/providers.tf
Labels: none

fix(loki): Info log level now
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

fix(authentik): Move redis db spec out of secret
  kubernetes/main/apps/security/authentik/app/authentik-secret.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
Labels: cluster/main

fix(loki): Change compactor path
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

fix: Update helmfile config
  kubernetes/main/bootstrap/talos/apps/helmfile.yaml
  kubernetes/staging/bootstrap/talos/apps/helmfile.yaml
Labels: cluster/main, cluster/staging

fix(vector): Move talos messages to cluster xxx:talos
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: cluster/main

doc: Removed some bitrot
  README.md
Labels: none

feat(loki): Yoink @onedr0p rule sidecar config
  kubernetes/main/apps/home/frigate/app/config/lokirule.yaml
  kubernetes/main/apps/home/frigate/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/main/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/main/apps/media/qbittorrent/app/resources/lokirule.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  terraform/minio/bucket-loki.tf
Labels: cluster/main

feat(loki): Yoink @onedr0p rule sidecar config
  kubernetes/main/apps/home/frigate/app/config/lokirule.yaml
  kubernetes/main/apps/home/frigate/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/resources/lokirule.yaml
  kubernetes/main/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/main/apps/media/qbittorrent/app/resources/lokirule.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  terraform/minio/bucket-loki.tf
Labels: cluster/main

fix(authentik): Don't need auto-scaling
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
Labels: cluster/main

update image ghcr.io/cloudnative-pg/postgresql ( 16.2-11 → 16.2-12 )
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: cluster/main

fix(authentik): Fix server
  .github/renovate/packageRules.json5
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/cluster/repositories/helm-charts/authentik-charts.yaml
Labels: area/github, cluster/main

fix(renovate): oci charts confuse renovate
  .github/renovate/packageRules.json5
  kubernetes/main/cluster/repositories/helm-charts/authentik-charts.yaml
Labels: area/github, cluster/main

fix(renovate): auto-merge redis digests
  .github/renovate/autoMerge.json5
Labels: area/github

fix(authentik): Move to oci chart
  kubernetes/main/cluster/repositories/helm-charts/authentik-charts.yaml
Labels: cluster/main

fix(authentik): Move to oci chart
  .github/renovate/packageRules.json5
Labels: area/github

Revert "fix(authentik): Move to oci chart"
  .github/renovate/packageRules.json5
Labels: area/github

Revert "fix(authentik): Move to oci chart"
  kubernetes/main/cluster/repositories/helm-charts/authentik-charts.yaml
Labels: cluster/main

chore: Remove goldilocks label
  kubernetes/main/apps/cert-manager/namespace.yaml
  kubernetes/main/apps/dbms/namespace.yaml
  kubernetes/main/apps/dev/namespace.yaml
  kubernetes/main/apps/home/namespace.yaml
  kubernetes/main/apps/kube-system/namespace.yaml
  kubernetes/main/apps/media/namespace.yaml
  kubernetes/main/apps/networking/namespace.yaml
  kubernetes/main/apps/observability/namespace.yaml
  kubernetes/main/apps/rook-ceph/namespace.yaml
  kubernetes/main/apps/security/namespace.yaml
  kubernetes/main/apps/self-hosted/namespace.yaml
  kubernetes/main/apps/system/namespace.yaml
Labels: cluster/main

fix(task): Need context for flux
  .taskfiles/flux/Taskfile.yaml
Labels: area/taskfile

fix(immich): Move immich to combined hr
  kubernetes/main/apps/media/immich/app/helm-release.yaml
  kubernetes/main/apps/media/immich/app/immich-config.yaml
  kubernetes/main/apps/media/immich/app/kustomization.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/kustomization.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/kustomization.yaml
  kubernetes/main/apps/media/immich/app/redis/helm-release.yaml
  kubernetes/main/apps/media/immich/app/redis/kustomization.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/kustomization.yaml
  kubernetes/main/apps/media/immich/db/backups-pvc.yaml
  kubernetes/main/apps/media/immich/db/backups-secret.yaml
  kubernetes/main/apps/media/immich/db/cluster.yaml
  kubernetes/main/apps/media/immich/db/helm-release.yaml
  kubernetes/main/apps/media/immich/db/kustomization.yaml
  kubernetes/main/apps/media/immich/db/postgres-superuser-secret.yaml
  kubernetes/main/apps/media/immich/db/service.yaml
  kubernetes/main/apps/media/immich/install.yaml
Labels: cluster/main

Tweaking config
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

fix(gatus): fix postgres-init tag
  kubernetes/main/apps/observability/gatus/app/helm-release.yaml
Labels: cluster/main

Update renovate.json5
  .github/renovate.json5
Labels: area/github

fix: Debugging renovate
  .github/renovate.json5
  .gitignore
Labels: area/github

fix: Dragonfly not cycling on update
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
Labels: cluster/main

feat: Enable homepage
  kubernetes/main/apps/self-hosted/homepage/app/configuration.yaml
  kubernetes/main/apps/self-hosted/homepage/app/homepage-secrets.yaml
  kubernetes/main/apps/self-hosted/kustomization.yaml
Labels: cluster/main

fix: Debugging dashy
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
Labels: cluster/main

Add certificate-1Password storage
  kubernetes/main/apps/cert-manager/cert-manager/app/cert-manager-dashboard.json
  kubernetes/main/apps/cert-manager/certificates/export/certificate.yaml
  kubernetes/main/apps/cert-manager/certificates/export/kustomization.yaml
  kubernetes/main/apps/cert-manager/certificates/export/push-secret.yaml
  kubernetes/main/apps/cert-manager/certificates/import/cluster-external-secret.yaml
  kubernetes/main/apps/cert-manager/certificates/import/kustomization.yaml
  kubernetes/main/apps/cert-manager/certificates/install.yaml
  kubernetes/main/apps/networking/nginx/certificates/tech-wildcard-certificate.yaml
  kubernetes/main/apps/networking/nginx/install.yaml
  kubernetes/main/apps/observability/grafana/app/helm-release.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword-secrets.sops.yaml
Labels: cluster/main

fix: Update staging token
  kubernetes/staging/apps/security/external-secrets/stores/onepassword-secrets.sops.yaml
Labels: cluster/staging

fix: Missed a substitution
  kubernetes/main/apps/cert-manager/certificates/import/cluster-external-secret.yaml
  kubernetes/main/apps/cert-manager/certificates/install.yaml
Labels: cluster/main

fix: Add system to initial bootstrap set
  kubernetes/main/apps/kustomization.yaml.bootstrap
Labels: cluster/main

fix: Pull wildcard cert secret in for outposts
  kubernetes/main/apps/security/authentik/app/cluster-external-secret.yaml
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
Labels: cluster/main

log directory for sabnzbd
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
  kubernetes/main/apps/media/overseerr/app/helm-release.yaml
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/main/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/main/apps/media/radarr/app/helm-release.yaml
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
Labels: cluster/main

fix: Remove feature gates
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/staging/bootstrap/talos/talconfig.yaml
Labels: cluster/main, cluster/staging

Update dashy to 3.0.0
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
Labels: cluster/main

fix prettier config location
  .vscode/settings.json
Labels: none
