Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(deps): update tj-actions/changed-files action to v42.0.6
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(deps): update image docker.io/library/alpine to v3.19
  .taskfiles/kubernetes/Taskfile.yaml
Labels: none

chore(deps): update image thanos to v13.4.0
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v13.4.0
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/library/alpine to v3.19
  .taskfiles/kubernetes/Taskfile.yaml
Labels: none

chore(deps): update tj-actions/changed-files action to v42.0.6
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(deps): update tj-actions/changed-files digest to d516645
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update tj-actions/changed-files digest to d516645
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update image thanos to v13.4.1
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/dpage/pgadmin4 to v8.4
  kubernetes/main/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/staging/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/dpage/pgadmin4 to v8.4
  kubernetes/main/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/staging/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v13.4.1
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Set rook dashboard password explicitly
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/dashboard-secret.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/dashboard-secret.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/kustomization.yaml
Labels: area/cluster

chore(deps): update chart loki to 5.43.6
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart volsync to 0.8.1
  kubernetes/main/apps/system/volsync/app/helm-release.yaml
  kubernetes/staging/apps/system/volsync/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.21.3
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update rook ceph group to v1.13.6
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

chore(deps): update chart kubernetes-dashboard to 7.1.1
  kubernetes/staging/apps/kube-system/kubernetes-dashboard/app/helm-release.yaml
Labels: area/cluster

chore(deps): update immich group to v1.98.0
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update immich group to v1.98.0
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update chart kubernetes-dashboard to 7.1.1
  kubernetes/staging/apps/kube-system/kubernetes-dashboard/app/helm-release.yaml
Labels: area/cluster

chore(deps): update rook ceph group to v1.13.6
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

chore(deps): update chart volsync to 0.8.1
  kubernetes/main/apps/system/volsync/app/helm-release.yaml
  kubernetes/staging/apps/system/volsync/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart loki to 5.43.6
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/shlinkio/shlink to v4.0.1
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

chore(deps): update tj-actions/changed-files action to v42.0.7
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(deps): update docker/build-push-action action to v5.2.0
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update docker/build-push-action action to v5.2.0
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update image ghcr.io/shlinkio/shlink to v4.0.1
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

chore(deps): update tj-actions/changed-files action to v42.0.7
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 20aaabc
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart cert-manager to v1.14.4
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/staging/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.16
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.21.4
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.16
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart cert-manager to v1.14.4
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/staging/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/shlinkio/shlink to v4.0.2
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.18.1
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update immich group to v1.98.1
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/stirling-tools/s-pdf to v0.22.0
  kubernetes/main/apps/self-hosted/pdf-tool/app/helm-release.yaml
Labels: area/cluster
