Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(terraform): update terraform minio to 1.17.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

Fix tunnel
  kubernetes/apps/networking/cloudflared/app/cloudflared-tunnel.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.3
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

Add cloudflared dashboard
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Don't need staging certificate
  kubernetes/apps/networking/ingress-nginx/app/wildcard-certificate.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

Decommission PMM
  archive/plex-meta-manager/app/config/config.yaml
  archive/plex-meta-manager/app/helm-release.yaml
  archive/plex-meta-manager/app/kustomization.yaml
  archive/plex-meta-manager/app/plex-meta-manager-config.yaml
  archive/plex-meta-manager/app/plex-meta-manager-secrets.yaml
  archive/plex-meta-manager/app/scripts/run.sh
  archive/plex-meta-manager/install.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3796
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/sct/overseerr to v1.33.2
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.14.3
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.9
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart democratic-csi to 0.14.1
  kubernetes/apps/system/democratic-csi/local-path/helm-release.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.67.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-9
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3800
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.5.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update image codercom/code-server to v4.16.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.16.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.71.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

Move snapshot controller to system
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/apps/system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/system/snapshot-controller/install.yaml
  kubernetes/apps/system/volsync/install.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 5a10f40
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3805
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to d814250
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-10
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.17.1
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.0.2091
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

Add kube-cleanup-operator
  kubernetes/apps/system/kube-cleanup-operator/app/helm-release.yaml
  kubernetes/apps/system/kube-cleanup-operator/app/kustomization.yaml
  kubernetes/apps/system/kube-cleanup-operator/install.yaml
  kubernetes/apps/system/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/lwolf-charts.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3812
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3816
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.4
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(container): update image codercom/code-server to v4.16.1
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/coder/code-server to v4.16.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3817
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.10.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v48.2.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.14.4
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.12.1
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to d59a032
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3818
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 97426ec
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.14.5
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster
