Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(helm): update chart vpa to 2.1.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform cloudflare to 4.8.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

chore(deps): update image ghcr.io/bjw-s/calibre-web to ef93971
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/alpine to 4b666f7
  kubernetes/apps/media/plex-meta-manager/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 3bd649d
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

Upgrade k8s to 1.27.3
  infrastructure/talos/talconfig.yaml
Labels: none

feat(container): update image ghcr.io/sct/overseerr to v1.33.0
  kubernetes/apps/media/overseerr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.61.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v36.3.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(deps): update image ghcr.io/onedr0p/home-assistant to cb6d2e3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/qbittorrent to 74a8da0
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to 59d04ce
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to 0e62d04
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3559
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart cert-manager to v1.12.2
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

feat(container): update image codercom/code-server to v4.14.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.14.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3560
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.1.3564
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v36.4.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.35.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 4df0a30
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3569
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 0d4a7da
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3570
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Update terraform lock
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3571
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.4
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

Add coral
  kubernetes/apps/home/frigate/app/config/config.yaml
  kubernetes/apps/home/frigate/app/helm-release.yaml
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.233.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/nginxinc/nginx-unprivileged to v1.25.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.4.7195-7c8f9d3b6
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3573
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.1.9.1905
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.11.6
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v36.4.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart grafana to 6.57.3
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.7.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster
