Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

Fix readme
  README.md
Labels: none

Another fix flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v55.6.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.6.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Still working on flux-diff
  .github/workflows/flux-diff.yaml
  kubernetes/main/apps/dbms/redis/lb/helm-release.yaml
Labels: area/github, area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 3a0822d
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.2.1
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update micalevisk/last-issue-action digest to 0d40124
  .github/workflows/link-checker.yaml
Labels: area/github

fix(container): update image kyverno to v3.1.3
  kubernetes/main/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/staging/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.9.1
  kubernetes/main/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

chore(deps): update micalevisk/last-issue-action digest to 0d40124
  .github/workflows/link-checker.yaml
Labels: area/github

fix(container): update image kyverno to v3.1.3
  kubernetes/main/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/staging/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.9.1
  kubernetes/main/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

Testing renovate/flux-diff on multiple clusters
  kubernetes/main/apps/default/whoami/app/helm-release.yaml
  kubernetes/nas/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/traefik/whoami to v1.10.1
  kubernetes/main/apps/default/whoami/app/helm-release.yaml
  kubernetes/nas/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/traefik/whoami to v1.10.1
  kubernetes/main/apps/default/whoami/app/helm-release.yaml
  kubernetes/nas/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

Setting up for an experiment
  kubernetes/staging/apps/dbms/pgadmin/app/config/servers.json
  kubernetes/staging/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/staging/apps/dbms/pgadmin/app/kustomization.yaml
  kubernetes/staging/apps/dbms/pgadmin/app/pgadmin-secret.yaml
  kubernetes/staging/apps/dbms/pgadmin/install.yaml
  kubernetes/staging/apps/media/kustomization.yaml
  kubernetes/staging/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/staging/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/staging/apps/media/sabnzbd/app/sabnzbd-secrets.yaml
  kubernetes/staging/apps/media/sabnzbd/install.yaml
  kubernetes/staging/apps/media/sonarr/app/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/app/kustomization.yaml
  kubernetes/staging/apps/media/sonarr/app/sonarr-secrets.yaml
  kubernetes/staging/apps/media/sonarr/install.yaml
  kubernetes/staging/apps/media/sonarr/kustomization.yaml
  kubernetes/staging/apps/media/sonarr/observability/dashboard/dashboard.json
  kubernetes/staging/apps/media/sonarr/observability/dashboard/kustomization.yaml
  kubernetes/staging/apps/media/sonarr/observability/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/observability/kustomization.yaml
  kubernetes/staging/apps/media/sonarr/observability/prometheus-rule.yaml
  kubernetes/staging/templates/volsync/kustomization.yaml
  kubernetes/staging/templates/volsync/minio/externalsecret.yaml
  kubernetes/staging/templates/volsync/minio/kustomization.yaml
  kubernetes/staging/templates/volsync/minio/replicationdestination.yaml
  kubernetes/staging/templates/volsync/minio/replicationsource.yaml
  kubernetes/staging/templates/volsync/pvc.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.12
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.1
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart democratic-csi to 0.14.5
  kubernetes/main/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/link-checker.yaml
Labels: area/github

fix(helm): update chart democratic-csi to 0.14.5
  kubernetes/main/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.1
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.12
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update lycheeverse/lychee-action action to v1.9.0
  .github/workflows/link-checker.yaml
Labels: area/github

Updated lab hardware
  README.md
  kubernetes/main/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-13
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.0.4188
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.752
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-13
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.2
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update allenporter/flux-local action to 4.2.2
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/home-assistant to v2024.1.2
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update allenporter/flux-local action to 4.2.2
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to f317f0e
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.14.2358
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.14.2358
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

Update link checker
  .github/workflows/link-checker.yaml
Labels: area/github
