Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image public.ecr.aws/docker/library/redis to v7.0.10
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.51.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

Add back cilium metrics
  infrastructure/talos/cilium-values.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

Fix unifipoller prometheus prefix
  kubernetes/apps/monitoring/unifi-poller/app/helm-release.yaml
Labels: area/cluster

cilium operator metrics
  infrastructure/talos/cilium-values.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/excalidraw/excalidraw to cc2d510
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.2.4
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v0.41.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.11.2
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.41
  kubernetes/apps/web-tools/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update tektoncd/dashboard to v0.34.0
  kubernetes/apps/tekton/dashboard/kustomization.yaml
Labels: area/cluster

feat(helm): update chart redis to 17.9.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Update flux.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

Fix version
  kubernetes/apps/web-tools/changedetection/app/helm-release.yaml
Labels: area/cluster

Remove deprecated mountOption
  kubernetes/apps/dbms/cloudnative-pg/backup/backups-pvc.yaml
  kubernetes/apps/dev/registry/app/pvc.yaml
  kubernetes/apps/media/immich/app/immich-pvc.yaml
  kubernetes/apps/media/pvc/downloads-pvc.yaml
  kubernetes/apps/media/pvc/incomplete-pvc.yaml
  kubernetes/apps/media/pvc/media-backups-pvc.yaml
  kubernetes/apps/media/pvc/media-pvc.yaml
Labels: area/cluster

Tweaking config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Remove minio dashboard
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Minor updates
  .github/renovate/groups.json5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/github, area/cluster

chore(deps): update image docker.io/excalidraw/excalidraw to 3be438c
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

fix(container): update image grafana/grafana to v9.4.7
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kyverno to 2.7.2
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

Enable oci bundles
  kubernetes/apps/tekton/pipeline/feature-flags.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to c493413
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.220.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.51.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v35.7.6
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.30.0
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.3.6
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Replace tekton install with bucket-based method
  archive/tekton/chains/install.yaml
  archive/tekton/chains/kustomization.yaml
  archive/tekton/dashboard/ingress.yaml
  archive/tekton/dashboard/install.yaml
  archive/tekton/dashboard/kustomization.yaml
  archive/tekton/kustomization.yaml
  archive/tekton/pipeline/feature-flags.yaml
  archive/tekton/pipeline/install.yaml
  archive/tekton/pipeline/kustomization.yaml
  archive/tekton/tasks/install.yaml
  archive/tekton/tasks/kustomization.yaml
  archive/tekton/triggers/install.yaml
  archive/tekton/triggers/kustomization.yaml
  kubernetes/apps/tekton/namespace.yaml
  kubernetes/apps/tekton/tekton/app/ingress.yaml
  kubernetes/apps/tekton/tekton/app/kustomization.yaml
  kubernetes/apps/tekton/tekton/app/tekton-bucket.yaml
  kubernetes/apps/tekton/tekton/install.yaml
Labels: area/cluster

Fixing renovate update rule for tekton
  kubernetes/apps/tekton/tekton/app/kustomization.yaml
  kubernetes/apps/tekton/tekton/app/kustomize.yaml
Labels: area/cluster

feat(container): update image quay.io/thanos/thanos to v0.31.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Update thanos
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Fixing renovate update rule for tekton
  .github/renovate.json5
  kubernetes/apps/tekton/tekton/app/kustomization.yaml
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/github, area/cluster

feat(github-release): update tekton group
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

Don't need the health check
  .github/renovate.json5
  kubernetes/apps/system/volsync/install.yaml
Labels: area/github, area/cluster

fix(helm): update chart redis to 17.9.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.3.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.221.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

Don't need the health check
  .github/renovate.json5
  kubernetes/apps/system/volsync/install.yaml
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/github, area/cluster

Fixing renovate rule
  .github/renovate.json5
  .github/renovate/groups.json5
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/github, area/cluster
