Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.89.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.39.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4125
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/nodered/node-red to v3.1.1
  kubernetes/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8.1
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.70.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.70.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.8.1
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/nodered/node-red to v3.1.1
  kubernetes/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 42ade66
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to f96f1a6
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4126
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Update to k8s 1.28.4
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update image ghcr.io/bjw-s/calibre-web to bca0b47
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.0.4128
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 0af7347
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-5
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container)!: Update Image kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/home-assistant to 7f07787
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/qbittorrent to ab8cc91
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to f7b1f6d
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to 7d2eef3
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-5
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container)!: Update Image kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sonarr-develop to f2040da
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-6
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.1.4131
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-6
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container)!: Update Image ghcr.io/mendhak/http-https-echo to v31
  kubernetes/apps/default/echo-server/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/mendhak/http-https-echo to v31
  kubernetes/apps/default/echo-server/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/calibre-web to 1cf7deb
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster
