Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3292
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.1
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update robinraju/release-downloader action to v1.8
  .github/workflows/schemas.yaml
Labels: area/github

feat(github-release): update prometheus-operator/prometheus-operator to v0.65.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

Don't need initContainer
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 95c0027
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3295
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.2
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update prometheus-operator/prometheus-operator to v0.65.1
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.6.1
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.10.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update tektoncd/chains to v0.16.0
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

feat(helm): update chart descheduler to 0.27.0
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

cloudflared deploy
  infrastructure/talos/cni/cilium-values.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/app/tunnel-endpoint.yaml
  kubernetes/apps/networking/cloudflared/app/tunnel-secrets.yaml
  kubernetes/apps/networking/cloudflared/install.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/external-dns/crds/dns-endpoint.yaml
  kubernetes/apps/networking/external-dns/crds/kustomization.yaml
  kubernetes/apps/networking/external-dns/install.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-networks.txt
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

Move crd into the cloudflare package
  kubernetes/apps/default/echo-server/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/config.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/install.yaml
  kubernetes/apps/networking/external-dns/cloudflare/dns-endpoint.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/crds/kustomization.yaml
  kubernetes/apps/networking/external-dns/install.yaml
Labels: area/cluster

chore(github-action): update cloudflare networks
  kubernetes/apps/networking/ingress-nginx/app/cloudflare-networks.txt
Labels: area/cluster

Move crd into the cloudflare package
  .github/workflows/publish-cloudflare-networks.yaml
  kubernetes/apps/default/echo-server/app/helm-release.yaml
  kubernetes/apps/networking/cloudflared/app/config.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/install.yaml
  kubernetes/apps/networking/external-dns/cloudflare/dns-endpoint.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/crds/kustomization.yaml
  kubernetes/apps/networking/external-dns/install.yaml
Labels: area/github, area/cluster

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.6
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/maxmind/geoipupdate to v5.1.0
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform minio to 1.15.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3300
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Update postgres version
  .github/renovate.json5
Labels: area/github

fix(container): update image docker.io/outlinewiki/outline to v0.69.2
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

Update external name annotations
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 725437e
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

Update geoip info daily
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/cronjob.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/kustomization.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/pvc.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/vector-geoipupdate-secrets.yaml
  kubernetes/apps/monitoring/vector/install.yaml
Labels: area/cluster

Speedtest twice a day
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Capture all vyos logs
  kubernetes/apps/monitoring/miscellaneous/dashboards/vyos.json
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/cluster

Revert "Update geoip info daily"
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/apps/monitoring/vector/aggregator/vector-aggregator-secrets.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/cronjob.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/kustomization.yaml
  kubernetes/apps/monitoring/vector/geoipupdate/pvc.yaml
  kubernetes/apps/monitoring/vector/install.yaml
Labels: area/cluster

Tweek handling of vyos logs
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3303
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Missed a dependsOn
  kubernetes/apps/networking/external-dns/install.yaml
Labels: area/cluster

Forgot to delete the script
  .github/scripts/cloudflareNetworks.mjs
Labels: area/github

kubeconform
  .github/scripts/kubeconform.sh
  .github/workflows/kubeconform.yaml
Labels: area/github

Move authelia patch into helm-release
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/kustomization.yaml
  kubernetes/apps/security/authelia/app/patches/env.yaml
Labels: area/cluster

Add domain restrictor
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-prod.yaml
Labels: area/cluster

Add tech wildcard certificate
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/certificates/kustomization.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/certificates/tech-wildcard-certificate.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.26.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
