Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(helm): update chart vpa to 1.7.2
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.54.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.54.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart node-feature-discovery to 0.13.0
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

Upgrade to Talos 1.4.0
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3199
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Missed a few
  kubernetes/apps/media/immich/app/immich-config.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/cluster/repositories/helm-charts/actions-runner-controller-charts.yaml
  kubernetes/cluster/repositories/helm-charts/backube-charts.yaml
  kubernetes/cluster/repositories/helm-charts/bitnami-charts.yaml
  kubernetes/cluster/repositories/helm-charts/bjw-s-charts.yaml
  kubernetes/cluster/repositories/helm-charts/cilium-charts.yaml
  kubernetes/cluster/repositories/helm-charts/cloudnative-pg-charts.yaml
  kubernetes/cluster/repositories/helm-charts/deliveryhero-charts.yaml
  kubernetes/cluster/repositories/helm-charts/descheduler-charts.yaml
  kubernetes/cluster/repositories/helm-charts/dysnix-charts.yaml
  kubernetes/cluster/repositories/helm-charts/external-dns-charts.yaml
  kubernetes/cluster/repositories/helm-charts/external-secrets-charts.yaml
  kubernetes/cluster/repositories/helm-charts/fairwinds-charts.yaml
  kubernetes/cluster/repositories/helm-charts/grafana-charts.yaml
  kubernetes/cluster/repositories/helm-charts/infracloudio-charts.yaml
  kubernetes/cluster/repositories/helm-charts/ingress-nginx-charts.yaml
  kubernetes/cluster/repositories/helm-charts/jetstack-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kubernetes-sigs-metrics-server-charts.yaml
  kubernetes/cluster/repositories/helm-charts/kyverno-charts.yaml
  kubernetes/cluster/repositories/helm-charts/node-feature-discovery-charts.yaml
  kubernetes/cluster/repositories/helm-charts/piraeus-charts.yaml
  kubernetes/cluster/repositories/helm-charts/prometheus-community-charts.yaml
  kubernetes/cluster/repositories/helm-charts/rook-ceph-charts.yaml
  kubernetes/cluster/repositories/helm-charts/runix-charts.yaml
  kubernetes/cluster/repositories/helm-charts/stakater-charts.yaml
  kubernetes/cluster/repositories/helm-charts/tf-controller-charts.yaml
  kubernetes/cluster/repositories/helm-charts/weave-gitops-charts.yaml
Labels: area/cluster

Unquote api_key
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yaml
Labels: area/cluster

Upgrade pg to 15.2-10
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.225.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.15.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3205
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.2.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/excalidraw/excalidraw to e5bd7ab
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.225.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.0.6973-a787c5a8e
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3206
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Move web-tools to self-hosted
  .vscode/settings.json
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
  kubernetes/apps/self-hosted/changedetection/app/kustomization.yaml
  kubernetes/apps/self-hosted/changedetection/app/volsync-config.yaml
  kubernetes/apps/self-hosted/changedetection/install.yaml
  kubernetes/apps/self-hosted/dashy/app/dashy-code-server-secrets.yaml
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
  kubernetes/apps/self-hosted/dashy/app/kustomization.yaml
  kubernetes/apps/self-hosted/dashy/app/volsync-config.yaml
  kubernetes/apps/self-hosted/dashy/install.yaml
  kubernetes/apps/self-hosted/excalidraw/app/helm-release.yaml
  kubernetes/apps/self-hosted/excalidraw/app/kustomization.yaml
  kubernetes/apps/self-hosted/excalidraw/install.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/namespace.yaml
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/kustomization.yaml
  kubernetes/apps/self-hosted/outline/app/outline-secrets.yaml
  kubernetes/apps/self-hosted/outline/app/patches/env.yaml
  kubernetes/apps/self-hosted/outline/install.yaml
  kubernetes/apps/self-hosted/shlink/install.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/kustomization.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/shlink-secrets.yaml
  kubernetes/apps/self-hosted/shlink/shlink-web/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-web/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/vector to v0.29.1
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 6.5.5
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update actions/setup-python action to v4.6.0
  .github/workflows/schemas.yaml
Labels: area/github

feat(helm): update chart kube-prometheus-stack to 45.17.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image node to v20
  kubernetes/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

Upgrading k8s to 1.26.4
  infrastructure/talos/talconfig.yaml
Labels: none

krr workflow
  .github/workflows/krr.yaml
Labels: area/github

Update restic
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
Labels: none

Monitoring updates
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Update krr script
  .github/workflows/krr.yaml
Labels: area/github

Loki update
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 26c3ea9
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 4b351c4
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

Add customTags entry
  .vscode/settings.json
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3208
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image codercom/code-server to v4.12.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.12.0
  kubernetes/apps/home/home-assistant-code-server/app/helm-release.yaml
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/tarampampam/error-pages to v2.24.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v35.9.0
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart kube-prometheus-stack to 45.18.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Undo loki tweak
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
