Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.35.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.0.4046
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.1.6
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.13.12
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.12.6
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.8
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image node to v21
  kubernetes/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

Revert "feat(helm): update chart cloudnative-pg to 0.19.0 (#2559)"
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 5bd1c1c
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.2
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image codercom/code-server to v4.18.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.18.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

Upgrade cnpg to 0.19.0
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

Added cnpg config
  .envrc
Labels: none

Raname task files
  .taskfiles/ExternalSecrets.yaml
  .taskfiles/Flux.yaml
  .taskfiles/Format.yaml
  .taskfiles/Kubernetes.yaml
  .taskfiles/ListJob.tmpl.yaml
  .taskfiles/PreCommit.yaml
  .taskfiles/Redis.yaml
  .taskfiles/ReplicationDestination.tmpl.yaml
  .taskfiles/Rook.yaml
  .taskfiles/UnlockJob.tmpl.yaml
  .taskfiles/Volsync.yaml
  .taskfiles/WipeDiskJob.tmpl.yaml
  .taskfiles/WipeJob.tmpl.yaml
  .taskfiles/WipeRookDataJob.tmpl.yaml
  Taskfile.yaml
Labels: none

Update to pg 16.0-8 with tasks
  .envrc
  .taskfiles/Postgres.yaml
  .taskfiles/drop_databases.sql
  Taskfile.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

Upgrade talos to 1.5.4
  infrastructure/talos/talconfig.yaml
Labels: none

Fix vector agent image
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.4
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.0.4047
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to b72ad29
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.8.2267
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.5
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.7
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.0
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/github-actions-runner to e24bb8f
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v39.2.4
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart node-feature-discovery to 0.14.3
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vpa to 3.0.2
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/szinn/github-actions-runner to v2.311.0
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 1.9.2
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-validation-webhook to 1.8.3
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.18.3
  infrastructure/terraform/minio/main.tf
Labels: none

feat(terraform): update terraform minio to 1.19.0
  infrastructure/terraform/minio/main.tf
Labels: none

Revert "feat(terraform): update terraform minio to 1.19.0 (#2577)"
  infrastructure/terraform/minio/main.tf
Labels: none
