Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

chore(deps): update gha group to v0.8.2
  kubernetes/main/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

Update redis to 18.9.0
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/create-github-app-token digest to c4fa18d
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update tj-actions/changed-files digest to 90a06d6
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update tj-actions/changed-files digest to 90a06d6
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update actions/create-github-app-token digest to c4fa18d
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update chart external-dns to 1.14.3
  kubernetes/main/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/nas/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/staging/apps/networking/external-dns/bind/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.1.4243
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update lycheeverse/lychee-action action to v1.9.2
  .github/workflows/link-checker.yaml
Labels: area/github

chore(deps): update image kube-prometheus-stack to v56.2.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.2.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update lycheeverse/lychee-action action to v1.9.2
  .github/workflows/link-checker.yaml
Labels: area/github

chore(deps): update chart external-dns to 1.14.3
  kubernetes/main/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/nas/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/staging/apps/networking/external-dns/bind/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 772f009
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart ingress-nginx to 4.9.1
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/nas/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/staging/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v40.0.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update renovatebot/github-action action to v40.0.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update chart ingress-nginx to 4.9.1
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/nas/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/staging/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart grafana to 7.2.5
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v40.0.2
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update chart loki to 5.42.0
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update robinraju/release-downloader action to v1.9
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update thanos group
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update thanos group
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update robinraju/release-downloader action to v1.9
  .github/workflows/schemas.yaml
Labels: area/github

chore(deps): update chart loki to 5.42.0
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart grafana to 7.2.5
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to d109c82
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.2.4245
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to v0.3.17.2409
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.2.1
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook igorshubovych/markdownlint-cli to v0.39.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update image ghcr.io/onedr0p/readarr-develop to v0.3.17.2409
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.2.1
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook igorshubovych/markdownlint-cli to v0.39.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.6.1
  kubernetes/main/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/main/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/main/apps/media/radarr/observability/helm-release.yaml
  kubernetes/main/apps/media/sonarr/observability/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/exportarr to v1.6.1
  kubernetes/main/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/main/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/main/apps/media/radarr/observability/helm-release.yaml
  kubernetes/main/apps/media/sonarr/observability/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

Tweak auto-merges
  .github/renovate/autoMerge.json5
Labels: area/github

chore(deps): update lycheeverse/lychee-action action to v1.9.3
  .github/workflows/link-checker.yaml
Labels: area/github

chore(deps): update image thanos to v12.23.0
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
