Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

feat(github-release): update fluxcd/flux2 to v2.2.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.41.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v2.2.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v2.2.0
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/flux-manifests to v2.2.0
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.17
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.41.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Update nofitication patch
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.2
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.2.4153
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.41.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.54
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.18.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(helm): update rook ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.18.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(helm): update rook ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.2
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.54
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.41.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/navidrome/navidrome to v0.50.2
  kubernetes/apps/media/navidrome/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.2.4154
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/navidrome/navidrome to v0.50.2
  kubernetes/apps/media/navidrome/app/helm-release.yaml
Labels: area/cluster

Don't track decrypted secrets
  .gitignore
Labels: none

chore(deps): update image ghcr.io/bjw-s/calibre-web to 991a528
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image elasticsearch to v8.11.3
  kubernetes/apps/dbms/elasticsearch/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update cilium/cilium to v1.14.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.14.5
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v8.1
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart vpa to 4.0.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart vpa to 4.0.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v8.1
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.14.5
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update cilium/cilium to v1.14.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image elasticsearch to v8.11.3
  kubernetes/apps/dbms/elasticsearch/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
