Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

Updates
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

Revert changes
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

chore(deps): pin yogevbd/enforce-label-action action to
  .github/workflows/meta-enforce-labels.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v35.7.2
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(github-release): update cilium/cilium to v1.13.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.13.1
  infrastructure/talos/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform minio to 1.13.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

Back out cilium to 1.13.0
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart external-secrets to 0.8.1
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2959
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update alex1989hu/kubelet-serving-cert-approver to v0.6.9
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/exportarr to v1.2.0
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.13.1
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.8.6
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.3.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Update to recommended cilium config
  infrastructure/talos/cilium-values.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

Tekton
  kubernetes/apps/tekton/dashboard/ingress.yaml
  kubernetes/apps/tekton/dashboard/install.yaml
  kubernetes/apps/tekton/dashboard/kustomization.yaml
  kubernetes/apps/tekton/kustomization.yaml
  kubernetes/apps/tekton/pipelines/feature-flags.yaml
  kubernetes/apps/tekton/pipelines/install.yaml
  kubernetes/apps/tekton/pipelines/kustomization.yaml
  kubernetes/apps/tekton/triggers/install.yaml
  kubernetes/apps/tekton/triggers/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.2.1
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2964
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/shlinkio/shlink-web-client to v3.10.0
  kubernetes/apps/web-tools/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

Rename tekton pipeline
  kubernetes/apps/tekton/dashboard/install.yaml
  kubernetes/apps/tekton/kustomization.yaml
  kubernetes/apps/tekton/pipeline/feature-flags.yaml
  kubernetes/apps/tekton/pipeline/install.yaml
  kubernetes/apps/tekton/pipeline/kustomization.yaml
  kubernetes/apps/tekton/triggers/install.yaml
Labels: area/cluster

Add github release regex
  .github/renovate.json5
Labels: area/github

feat(github-release): update tektoncd/dashboard to v0.33.0
  kubernetes/apps/tekton/dashboard/kustomization.yaml
Labels: area/cluster

feat(github-release): update tektoncd/pipeline to v0.46.0
  kubernetes/apps/tekton/pipeline/kustomization.yaml
Labels: area/cluster

feat(github-release): update tektoncd/triggers to v0.23.0
  kubernetes/apps/tekton/triggers/kustomization.yaml
Labels: area/cluster

Add github release regex
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: area/github

feat(github-release): update tekton group
  kubernetes/apps/tekton/dashboard/kustomization.yaml
  kubernetes/apps/tekton/pipeline/kustomization.yaml
  kubernetes/apps/tekton/triggers/kustomization.yaml
Labels: area/cluster

Added tekton chains and tasks
  kubernetes/apps/tekton/chains/install.yaml
  kubernetes/apps/tekton/chains/kustomization.yaml
  kubernetes/apps/tekton/kustomization.yaml
  kubernetes/apps/tekton/tasks/install.yaml
  kubernetes/apps/tekton/tasks/kustomization.yaml
  kubernetes/apps/tekton/triggers/kustomization.yaml
Labels: area/cluster

feat(github-release): update tekton group
  kubernetes/apps/tekton/chains/kustomization.yaml
  kubernetes/apps/tekton/triggers/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to 72e1c95
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.4
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

Start with basic tasks
  .vscode/settings.json
  kubernetes/apps/tekton/tasks/kustomization.yaml
Labels: area/cluster

Upgrade to k8s 1.26.3
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/exportarr to v1.2.3
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cloudnative-pg to 0.17.1
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.51.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart volsync to 0.7.0
  kubernetes/apps/system/volsync/app/helm-release.yaml
Labels: area/cluster

Add typesense to immich
  kubernetes/apps/media/immich/app/immich-config.yaml
  kubernetes/apps/media/immich/app/immich-secrets.yaml
  kubernetes/apps/media/immich/app/kustomization.yaml
  kubernetes/apps/media/immich/app/typesense/helm-release.yaml
  kubernetes/apps/media/immich/app/typesense/kustomization.yaml
  kubernetes/apps/media/immich/install.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.8.7
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.7.5
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster
