Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

dashy to 2.0.3
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

shlink to 2.0.3
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

theme-park to 2.0.3
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

wikijs to 2.0.3
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

WikiJS config
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/cluster

dashy volume fix
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

intel exporter to 2.0.3
  kubernetes/apps/system/intel-device-plugin/exporter/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform minio to 1.18.3
  infrastructure/terraform/minio/main.tf
Labels: none

feat(terraform): update terraform minio to 1.19.0
  infrastructure/terraform/minio/main.tf
Labels: none

chore(deps): update image ghcr.io/bjw-s/calibre-web to 63d8995
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.6
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.36.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.84.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.6
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.84.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.36.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.3
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.36.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v40.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.3
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v40.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart loki to 5.36.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.3
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.36.3
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.36.3
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.2.3
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.2.4064
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to b5c5da6
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.9.2272
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform minio to 1.20.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(terraform)!: Update Terraform minio to 2.0.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

feat(terraform)!: Update Terraform minio to 2.0.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.9.2272
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.10.3.4068
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster
