Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3671
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.2
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

Fix kyverno
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.25
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart tf-controller to 0.15.1
  kubernetes/apps/infrastructure/tf-controller/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/vector to v0.31.0
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(github-action): update allenporter/flux-local action to 2.1.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image docker.io/outlinewiki/outline to v0.70.1
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.7.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update docker/setup-buildx-action action to v2.9.0
  .github/workflows/schemas.yaml
Labels: area/github

feat(github-action)!: Update allenporter/flux-local action to 3.0.0
  .github/workflows/flux-diff.yaml
Labels: area/github

Add birds entry
  kubernetes/apps/networking/external-services/external-birds.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
  kubernetes/cluster/vars/cluster-settings.cfg
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 96bf479
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3676
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.1
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/github-actions-runner to v2.306.0
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

Fix readme broken link
  README.md
Labels: none

Temporarily remove entry that isn't responding
  .github/workflows/create-blacklist.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3678
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3680
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v47.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Add talos extensions for intel
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to d94889d
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3684
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.2.1.1915
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink-web-client to v3.10.2
  kubernetes/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3685
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.2.2.1943
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v37.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart snapshot-validation-webhook to 1.7.3
  kubernetes/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to b4e476c
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.2.3693
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.3
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.0.12
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v47.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.58.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Backout redis update since it is missing from ecr.aws
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

Fix login for grafana
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster
