Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update image ghcr.io/onedr0p/radarr to v4.4.4.7068
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

Add grafana database
  kubernetes/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Housekeeping - secret management
  kubernetes/apps/media/radarr-4k/app/radarr-4k-secrets.yaml
  kubernetes/apps/media/radarr/app/radarr-secrets.yaml
  kubernetes/apps/media/recyclarr/app/recyclarr-secrets.yaml
  kubernetes/apps/media/sonarr/app/sonarr-secrets.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3167
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart tf-controller to 0.12.0
  kubernetes/apps/infrastructure/tf-controller/app/helm-release.yaml
Labels: area/cluster

Grafana and Authelia
  kubernetes/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/excalidraw/excalidraw to 5c0a590
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

Grafana revisited
  kubernetes/apps/dbms/redis/app/kustomization.yaml
  kubernetes/apps/dbms/redis/app/redis-datasource.yaml
  kubernetes/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/teslamate/app/dashboards/kustomization.yaml
  kubernetes/apps/monitoring/teslamate/app/kustomization.yaml
  kubernetes/apps/monitoring/teslamate/app/teslamate-datasource.sops.cfg
  kubernetes/apps/monitoring/teslamate/app/teslamate-datasource.sops.cfg.sha256
  kubernetes/apps/monitoring/teslamate/app/teslamate-datasource.sops.yaml
  kubernetes/apps/web-tools/outline/app/patches/env.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3182
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Update terraform resource
  kubernetes/apps/infrastructure/tf-controller/terraforms/minio.yaml
Labels: area/cluster

Add echo-server
  kubernetes/apps/default/echo-server/app/helm-release.yaml
  kubernetes/apps/default/echo-server/app/kustomization.yaml
  kubernetes/apps/default/echo-server/install.yaml
Labels: area/cluster

fix(container): update image ghcr.io/maxmind/geoipupdate to v5.0.4
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3185
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/redis to v7.0.11
  kubernetes/apps/media/immich/app/redis/helm-release.yaml
Labels: area/cluster

fix(helm): update chart actions-runner-controller to 0.23.2
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.9.5
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/tarampampam/error-pages to v2.23.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Add webhooks to reconcile cluster
  kubernetes/apps/flux-system/add-ons/install.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/kustomization.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/github/webhooks-secrets.yaml
  kubernetes/apps/flux-system/add-ons/webhooks/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.4.5
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.0.6950-8521b7d99
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3188
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3188
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.12.3
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/nginxinc/nginx-unprivileged to v1.24.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update lycheeverse/lychee-action action to v1.7.0
  .github/workflows/link-checker.yaml
Labels: area/github

feat(helm): update chart loki to 5.1.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Kubernetes schemas
  .github/workflows/schemas.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/dev/kubernetes-schemas/install.yaml
  kubernetes/apps/dev/kustomization.yaml
Labels: area/github, area/cluster

Fix typos
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.4.3
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Version the schema container
  .github/workflows/schemas.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/github, area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 03a38a3
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

Can just use latest and then helm-release refers to sha for auto update
  .github/workflows/schemas.yaml
Labels: area/github

Tweak schema image labels
  .github/workflows/schemas.yaml
Labels: area/github

Remove unnecessary extension recommendations
  .vscode/extensions.json
Labels: none

chore(deps): update image docker.io/excalidraw/excalidraw to fe10fbe
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 2052e10
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3197
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update cilium/cilium to v1.13.2
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.13.2
  infrastructure/talos/cni/kustomization.yaml
  infrastructure/talos/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 6.5.4
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster
