Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, area/taskfile, cluster/main, cluster/staging, cluster/nas

feat(authentik): Add wikijs
  infrastructure/terraform/authentik/app-wikijs.tf
  infrastructure/terraform/authentik/directory.tf
Labels: area/infrastructure

feat(authentik): Add synology authentication
  infrastructure/terraform/authentik/app-hades.tf
  infrastructure/terraform/authentik/app-wikijs.tf
  infrastructure/terraform/authentik/directory.tf
Labels: area/infrastructure

fix(authentik): Set refresh token to 365 days
  infrastructure/terraform/authentik/app-grafana.tf
  infrastructure/terraform/authentik/app-hades.tf
  infrastructure/terraform/authentik/app-wikijs.tf
Labels: area/infrastructure

chore: Move namespace to targetNamespace
  kubernetes/main/apps/monitoring/alertmanager-discord/app/alertmanager-secrets.yaml
  kubernetes/main/apps/monitoring/alertmanager-discord/app/helm-release.yaml
  kubernetes/main/apps/monitoring/alertmanager-discord/install.yaml
  kubernetes/main/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/grafana/install.yaml
  kubernetes/main/apps/monitoring/jaeger/app/helm-release.yaml
  kubernetes/main/apps/monitoring/jaeger/config/ingress.yaml
  kubernetes/main/apps/monitoring/jaeger/config/production.yaml
  kubernetes/main/apps/monitoring/jaeger/config/service.yaml
  kubernetes/main/apps/monitoring/jaeger/install.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kromgo/install.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/install.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/main/apps/monitoring/loki/app/loki-secrets.yaml
  kubernetes/main/apps/monitoring/loki/app/rules.yaml
  kubernetes/main/apps/monitoring/loki/app/service-monitor.yaml
  kubernetes/main/apps/monitoring/loki/install.yaml
  kubernetes/main/apps/monitoring/node-problem-detector/app/helm-release.yaml
  kubernetes/main/apps/monitoring/node-problem-detector/install.yaml
  kubernetes/main/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/main/apps/monitoring/teslamate/app/teslamate-secrets.yaml
  kubernetes/main/apps/monitoring/teslamate/install.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/thanos-secrets.yaml
  kubernetes/main/apps/monitoring/thanos/install.yaml
  kubernetes/main/apps/monitoring/unifi-poller/app/helm-release.yaml
  kubernetes/main/apps/monitoring/unifi-poller/app/unifi-poller-secrets.yaml
  kubernetes/main/apps/monitoring/unifi-poller/install.yaml
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/rbac.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/vector-aggregator-secrets.yaml
  kubernetes/main/apps/monitoring/vector/install.yaml
Labels: cluster/main

chore: Move namespace to targetNamespace
  kubernetes/main/apps/networking/cloudflared/app/cloudflared-secrets.yaml
  kubernetes/main/apps/networking/cloudflared/app/cloudflared-tunnel.yaml
  kubernetes/main/apps/networking/cloudflared/app/config.yaml
  kubernetes/main/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/main/apps/networking/cloudflared/install.yaml
  kubernetes/main/apps/networking/external-dns/bind/external-dns-bind-secrets.yaml
  kubernetes/main/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/external-dns-cloudflare-secrets.yaml
  kubernetes/main/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/main/apps/networking/external-dns/install.yaml
  kubernetes/main/apps/networking/external-services/external-birds.yaml
  kubernetes/main/apps/networking/external-services/external-minio.yaml
  kubernetes/main/apps/networking/external-services/install.yaml
  kubernetes/main/apps/networking/ingress-nginx/add-ons/certificates/tech-wildcard-certificate.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/wildcard-certificate.yaml
  kubernetes/main/apps/networking/ingress-nginx/install.yaml
Labels: cluster/main

chore: Move namespace to targetNamespace
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/rules.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/install.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/dashboard-secret.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: cluster/main

chore: Move namespace to targetNamespace
  kubernetes/main/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/install.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/dmarc-report/app/dmarc-report-secrets.yaml
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/main/apps/security/dmarc-report/install.yaml
  kubernetes/main/apps/security/external-secrets/app/helm-release.yaml
  kubernetes/main/apps/security/external-secrets/install.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword-secrets.sops.yaml
  kubernetes/main/apps/security/external-secrets/stores/onepassword-store.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/lldap-secrets.yaml
  kubernetes/main/apps/security/lldap/install.yaml
Labels: cluster/main

chore: Move namespace to targetNamespace
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/changedetection/install.yaml
  kubernetes/main/apps/self-hosted/dashy/app/dashy-secrets.yaml
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/dashy/install.yaml
  kubernetes/main/apps/self-hosted/pdf-tool/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/pdf-tool/install.yaml
  kubernetes/main/apps/self-hosted/shlink/install.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/shlink-secrets.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-web/helm-release.yaml
  kubernetes/main/apps/self-hosted/theme-park/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/theme-park/install.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/wikijs-secrets.yaml
  kubernetes/main/apps/self-hosted/wikijs/install.yaml
Labels: cluster/main

chore: Move namespace to targetNamespace
  kubernetes/main/apps/system/democratic-csi/install.yaml
  kubernetes/main/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/main/apps/system/descheduler/app/helm-release.yaml
  kubernetes/main/apps/system/descheduler/install.yaml
  kubernetes/main/apps/system/intel-device-plugin/exporter/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugin/gpu/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugin/install.yaml
  kubernetes/main/apps/system/intel-device-plugin/operator/helm-release.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/app/helm-release.yaml
  kubernetes/main/apps/system/kube-cleanup-operator/install.yaml
  kubernetes/main/apps/system/node-feature-discovery/app/helm-release.yaml
  kubernetes/main/apps/system/node-feature-discovery/install.yaml
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
  kubernetes/main/apps/system/reloader/install.yaml
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/main/apps/system/snapshot-controller/install.yaml
  kubernetes/main/apps/system/volsync/app/helm-release.yaml
  kubernetes/main/apps/system/volsync/app/prometheus-rule.yaml
  kubernetes/main/apps/system/volsync/install.yaml
Labels: cluster/main

style: formatting
  kubernetes/main/apps/home/mosquitto/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: cluster/main

fix(authentik): Synology needed authentication flow
  .taskfiles/Authentik/Taskfile.yaml
  Taskfile.yaml
  infrastructure/terraform/authentik/app-grafana.tf
  infrastructure/terraform/authentik/app-hades.tf
  infrastructure/terraform/authentik/app-wikijs.tf
  infrastructure/terraform/authentik/system.tf
Labels: area/infrastructure, area/taskfile

style: Remove unnecessary quotes
  kubernetes/main/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/main/apps/default/echo-server/app/helm-release.yaml
  kubernetes/main/apps/default/whoami/app/helm-release.yaml
  kubernetes/main/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
  kubernetes/main/apps/media/openbooks/app/helm-release.yaml
  kubernetes/main/apps/media/overseerr/app/helm-release.yaml
  kubernetes/main/apps/media/plex/app/helm-release.yaml
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/main/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/main/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/main/apps/media/radarr/app/helm-release.yaml
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/main/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/main/apps/networking/external-services/external-birds.yaml
  kubernetes/main/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-web/helm-release.yaml
  kubernetes/main/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: cluster/main

fix(authentik): Move to internal access for now
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: cluster/main

feat(ingress): Splitting igress-nginx to separate internal/external
  kubernetes/main/apps/networking/ingress-nginx/add-ons/kustomization.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/main/apps/networking/kustomization.yaml
  kubernetes/main/apps/networking/nginx/certificates/kustomization.yaml
  kubernetes/main/apps/networking/nginx/certificates/tech-wildcard-certificate.yaml
  kubernetes/main/apps/networking/nginx/certificates/wildcard-certificate.yaml
  kubernetes/main/apps/networking/nginx/install.yaml
Labels: cluster/main

feat(ingress): Create internal ingress
  config.sops.env
  kubernetes/main/apps/networking/nginx/install.yaml
  kubernetes/main/apps/networking/nginx/internal/helm-release.yaml
  kubernetes/main/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/main/cluster/vars/cluster-settings.cfg
  kubernetes/main/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/main/cluster/vars/cluster-settings.yaml
Labels: cluster/main

feat(ingress): Create internal ingress
  kubernetes/main/apps/networking/nginx/external/helm-release.yaml
  kubernetes/main/apps/networking/nginx/external/kustomization.yaml
  kubernetes/main/apps/networking/nginx/install.yaml
Labels: cluster/main

feat(ingress): Move cloudflared to use external
  kubernetes/main/apps/networking/cloudflared/app/cloudflared-tunnel.yaml
  kubernetes/main/apps/networking/cloudflared/app/config.yaml
Labels: cluster/main

feat(ingress): Move kyverno policies
  kubernetes/main/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/main/apps/networking/ingress-nginx/add-ons/kustomization.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/main/apps/networking/ingress-nginx/install.yaml
  kubernetes/main/apps/networking/nginx/external/helm-release.yaml
  kubernetes/main/apps/networking/nginx/install.yaml
  kubernetes/main/apps/networking/nginx/policies/kustomization.yaml
  kubernetes/main/apps/networking/nginx/policies/update-ingress-annotations.yaml
Labels: cluster/main

feat(ingress): Move external ingresses
  kubernetes/main/apps/default/echo-server/app/helm-release.yaml
  kubernetes/main/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/main/apps/networking/nginx/policies/update-ingress-annotations.yaml
Labels: cluster/main

Add k8s-ycl
  kubernetes/main/apps/system/k8s-ycl/app/helm-release.yaml
  kubernetes/main/apps/system/k8s-ycl/app/kustomization.yaml
  kubernetes/main/apps/system/k8s-ycl/install.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: cluster/main

feat: Drop kyverno
  README.md
  kubernetes/main/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/kustomization.bootstrap
  kubernetes/main/apps/kyverno/kustomization.yaml
  kubernetes/main/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/main/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/main/apps/kyverno/kyverno/install.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/delete-cpu-limits.yaml
  kubernetes/main/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/main/apps/kyverno/namespace.yaml
  kubernetes/main/apps/media/immich/app/db/cluster.yaml
  kubernetes/main/apps/networking/nginx/install.yaml
  kubernetes/main/apps/networking/nginx/policies/kustomization.yaml
  kubernetes/main/apps/networking/nginx/policies/update-ingress-annotations.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/main/cluster/repositories/helm-charts/kyverno-charts.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/kustomization.bootstrap
  kubernetes/staging/apps/kyverno/kustomization.yaml
  kubernetes/staging/apps/kyverno/kyverno/app/helm-release.yaml
  kubernetes/staging/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/staging/apps/kyverno/kyverno/install.yaml
  kubernetes/staging/apps/kyverno/kyverno/policies/delete-cpu-limits.yaml
  kubernetes/staging/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/staging/apps/kyverno/namespace.yaml
  kubernetes/staging/apps/networking/ingress-nginx/add-ons/kustomization.yaml
  kubernetes/staging/apps/networking/ingress-nginx/add-ons/policies/kustomization.yaml
  kubernetes/staging/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
  kubernetes/staging/apps/networking/ingress-nginx/install.yaml
  kubernetes/staging/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/staging/cluster/repositories/helm-charts/kyverno-charts.yaml
Labels: cluster/main, cluster/staging

adjust k8s-ycl
  kubernetes/main/apps/system/k8s-ycl/app/helm-release.yaml
Labels: cluster/main

Fixing external ingress
  kubernetes/main/apps/default/echo-server/app/helm-release.yaml
  kubernetes/main/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/monitoring/kromgo/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/cdn/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/main/apps/system/k8s-ycl/app/helm-release.yaml
Labels: cluster/main

feat(ingress): Migrate internal ingress
  kubernetes/main/apps/dbms/pgadmin/app/helm-release.yaml
  kubernetes/main/apps/default/whoami/app/helm-release.yaml
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
  kubernetes/main/apps/home/frigate/app/helm-release.yaml
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/main/apps/media/bonob/app/helm-release.yaml
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
  kubernetes/main/apps/media/lidarr/app/helm-release.yaml
  kubernetes/main/apps/media/navidrome/app/helm-release.yaml
  kubernetes/main/apps/media/openbooks/app/helm-release.yaml
  kubernetes/main/apps/media/overseerr/app/helm-release.yaml
  kubernetes/main/apps/media/plex/app/helm-release.yaml
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/main/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/main/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/main/apps/media/radarr/app/helm-release.yaml
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/jaeger/config/ingress.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
  kubernetes/main/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/main/apps/networking/external-services/external-birds.yaml
  kubernetes/main/apps/networking/external-services/external-minio.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/pdf-tool/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/shlink/shlink-web/helm-release.yaml
  kubernetes/main/apps/self-hosted/theme-park/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: cluster/main

fix(ingress): Remove old nginx
  kubernetes/main/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/main/apps/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/main/apps/networking/ingress-nginx/install.yaml
  kubernetes/main/apps/networking/kustomization.yaml
Labels: cluster/main

chore: Move terraform code
  .taskfiles/Authentik/Taskfile.yaml
  terraform/authentik/.terraform.lock.hcl
  terraform/authentik/app-grafana.tf
  terraform/authentik/app-hades.tf
  terraform/authentik/app-wikijs.tf
  terraform/authentik/customization.tf
  terraform/authentik/directory.tf
  terraform/authentik/federations.tf
  terraform/authentik/flows.tf
  terraform/authentik/locals.tf
  terraform/authentik/main.tf
  terraform/authentik/mappings.tf
  terraform/authentik/stages-prompt_fields.tf
  terraform/authentik/stages.tf
  terraform/authentik/system.tf
  terraform/minio/.gitignore
  terraform/minio/.terraform.lock.hcl
  terraform/minio/backend.tf
  terraform/minio/bucket-authentik.tf
  terraform/minio/bucket-loki.tf
  terraform/minio/bucket-thanos.tf
  terraform/minio/bucket-volsync.tf
  terraform/minio/main.tf
  terraform/minio/minio.tf
  terraform/minio/modules/minio_bucket/main.tf
  terraform/minio/modules/minio_bucket/outputs.tf
  terraform/minio/modules/minio_bucket/variables.tf
  terraform/minio/modules/onepassword_minio_bucket/main.tf
  terraform/minio/modules/onepassword_minio_bucket/variables.tf
  terraform/minio/providers.tf
Labels: area/taskfile

Internal auth
  kubernetes/main/apps/default/whoami/app/helm-release.yaml
  terraform/authentik/app-grafana.tf
  terraform/authentik/app-whoami.tf
  terraform/authentik/directory.tf
  terraform/authentik/main.tf
  terraform/authentik/modules/forward-auth-application/main.tf
  terraform/authentik/modules/oidc-application/main.tf
  terraform/authentik/outposts.tf
  terraform/authentik/variables.tf
Labels: cluster/main

feat(authentik): Migrate remaining internal
  kubernetes/main/apps/monitoring/grafana/app/grafana-secrets.yaml
  terraform/authentik/app-grafana.tf
  terraform/authentik/app-hades.tf
  terraform/authentik/app-whoami.tf
  terraform/authentik/app-wikijs.tf
  terraform/authentik/directory.tf
  terraform/authentik/locals.tf
  terraform/authentik/modules/oidc-application/main.tf
  terraform/authentik/system.tf
Labels: cluster/main

ci(renovate): Adjust PR template
  .github/renovate.json5
Labels: area/github

ci(renovate): Adjust PR template
  .github/renovate.json5
Labels: area/github

feat(authentik): Add external service
  .vscode/settings.json
  kubernetes/main/apps/default/echo-server/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/wikijs/app/helm-release.yaml
  terraform/authentik/app-echo-server.tf
  terraform/authentik/app-grafana.tf
  terraform/authentik/app-hades.tf
  terraform/authentik/app-whoami.tf
  terraform/authentik/app-wikijs.tf
  terraform/authentik/directory.tf
  terraform/authentik/main.tf
  terraform/authentik/modules/forward-auth-application/main.tf
  terraform/authentik/modules/oidc-application/main.tf
  terraform/authentik/outposts.tf
Labels: cluster/main

fix(unifi-poller): Corrected service name
  kubernetes/main/apps/monitoring/unifi-poller/app/helm-release.yaml
Labels: cluster/main

chore: Cleanup
  terraform/authentik/modules/forward-auth-application/main.tf
  terraform/authentik/modules/oidc-application/main.tf
Labels: none

Fix serviceMonitor names
  kubernetes/main/apps/networking/cloudflared/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/system/intel-device-plugin/exporter/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/observability/helm-release.yaml
Labels: cluster/main, cluster/staging

fix(dragonfly): snapshots 8x per day
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
Labels: cluster/main

fix(authentik): Move to better icon cdn
  terraform/authentik/app-echo-server.tf
  terraform/authentik/app-grafana.tf
  terraform/authentik/app-hades.tf
  terraform/authentik/app-whoami.tf
  terraform/authentik/app-wikijs.tf
Labels: none

Grafana needs property maps
  terraform/authentik/app-grafana.tf
  terraform/authentik/app-hades.tf
  terraform/authentik/app-wikijs.tf
Labels: none

Move echo-server to networking
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/networking/echo-server/app/helm-release.yaml
  kubernetes/main/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/main/apps/networking/echo-server/install.yaml
  kubernetes/main/apps/networking/kustomization.yaml
Labels: cluster/main

feat: Add fstrim
  kubernetes/main/apps/system/fstrim/app/helm-release.yaml
  kubernetes/main/apps/system/fstrim/app/kustomization.yaml
  kubernetes/main/apps/system/fstrim/install.yaml
  kubernetes/main/apps/system/kustomization.yaml
Labels: cluster/main

Add cluster gatus base
  kubernetes/main/apps/monitoring/gatus/app/gatus-secret.yaml
  kubernetes/main/apps/monitoring/gatus/app/helm-release.yaml
  kubernetes/main/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/main/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/apps/monitoring/gatus/install.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: cluster/main

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"
