Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update image docker.io/dpage/pgadmin4 to v7.6
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/flux-manifests to v2.1.0
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update actions/checkout action to v3.6.0
  .github/workflows/kubeconform.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update fluxcd/flux2 to v2.1.0
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v2.1.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart descheduler to 0.28.0
  kubernetes/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vpa to 2.5.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

Upgrade to Talos 1.5.1
  infrastructure/talos/talconfig.yaml
Labels: none

Upgrade to ceph 18.2.0
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to a0efe0c
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v38.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart vpa to 2.5.1
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v17.17.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Upgrade redis to 18.0.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Fix ARC
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.75.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.59.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Change action runner image
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 97a97dc
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to f43a0e5
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.4.3884
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.75.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

Upgrade k8s to 1.28.1
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 1ee1e47
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3885
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3886
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.75.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.0.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update image ghcr.io/lldap/lldap to 945ed88
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2023.8.1
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v38.1.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update image kube-prometheus-stack to v48.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update docker/setup-buildx-action action to v2.10.0
  .github/workflows/schemas.yaml
Labels: area/github

feat(container)!: Update Image kube-prometheus-stack to v49
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 97e6868
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.44.2
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster
