Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(helm): update chart goldilocks to 7.0.1
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/github-actions-runner to v2.307.0
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v48.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.9.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Add battery health dashboard
  kubernetes/apps/monitoring/teslamate/app/dashboards/kustomization.yaml
Labels: area/cluster

Update teslamate datasource
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3775
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.58.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v37.5.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Update vector temporarily
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/github-actions-runner to v2.307.1
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.5.7349-8f4248874
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.9.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.9.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update oxsecurity/megalinter action to v7.2.0
  .github/workflows/lint.yaml
Labels: area/github

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-8
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3779
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v48.2.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.58.6
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.9.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.33
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v17.14.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Update k8s to 1.27.4
  infrastructure/talos/talconfig.yaml
Labels: none

Updated
  kubernetes/apps/networking/cloudflared/app/cloudflared-tunnel.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2023.7.3
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.14.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.9.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update oxsecurity/megalinter action to v7.2.1
  .github/workflows/lint.yaml
Labels: area/github

fix(helm): update chart cert-manager to v1.12.3
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/bazarr to 7441744
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3780
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.0.3782
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v48.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cloudnative-pg to 0.18.2
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 7.0.2
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vpa to 2.2.1
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.5
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.70.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(github-release): update cilium/cilium to v1.14.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cilium to 1.14.0
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
