Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image weave-gitops to v4.0.27
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.58.7
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.34
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Fix lldap
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.27
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 2d95704
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3819
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update svenstaro/upload-release-action digest to 1beeb57
  .github/workflows/create-blacklist.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vpa to 2.3.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 141444d
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart metrics-server to 3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3820
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.5.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.2
  .pre-commit-config.yaml
Labels: none

fix(github-release): update prometheus-operator/prometheus-operator to v0.67.1
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.2
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart goldilocks to 7.1.0
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3821
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v48.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.10.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to a253508
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to 8397179
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3827
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v48.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.3
  .pre-commit-config.yaml
Labels: none

fix(terraform): update terraform minio to 1.17.2
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

chore(deps): update image ghcr.io/lldap/lldap to 03605d8
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.1.3837
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to bd7d52e
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update allenporter/flux-local action to 3.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.35
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/bazarr to 80fbe89
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3839
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Increase authelia server buffer
  kubernetes/apps/security/authelia/app/config/configuration.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.1.2096
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.2.0
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.72.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v37.6.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github
