Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 0ec95fb
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/bazarr to v1.2.2
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3604
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Switch to new arc
  .github/workflows/schemas.yaml
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/install.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/actions-runner-controller-secret.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/kustomization.yaml
  kubernetes/apps/dev/actions-runner-controller/operator/pvc.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/actions-runner-controller-charts.yaml
Labels: area/github, area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 0a1b0de
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.3.3606
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to e6aa6af
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.0.3
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.63.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image codercom/code-server to v4.14.1
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/coder/code-server to v4.14.1
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.8
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.0.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart grafana to 6.57.4
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3615
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/recyclarr/recyclarr to v5.1.0
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.64.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

Fix readme links
  README.md
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3617
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Allow .tech access for wireguard from anywhere
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/domain_tech.tf
Labels: none

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.43.1
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3618
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v47.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.0.4
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.29
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/n8n-io/n8n to v1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v47.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform cloudflare to 4.9.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3620
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart botkube to v1.1.1
  kubernetes/apps/monitoring/botkube/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.8.6
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update docker/setup-buildx-action action to v2.8.0
  .github/workflows/schemas.yaml
Labels: area/github

Upgrade talos to 1.4.6
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 77e5f56
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.8.7
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.4
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

Move account name to 1password
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/account.tf
  infrastructure/terraform/cloudflare/locals.tf
Labels: none

chore(deps): update image ghcr.io/lldap/lldap to 5e8d477
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.0.3623
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster
