Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3888
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.650
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.0.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.6
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v49.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Tweak node problem detector
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3890
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.651
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.76.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.5
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.76.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.39
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.13.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to fd8695c
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/immich-app/immich-server to v1.76.1
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.29
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v38.2.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image docker.io/cloudflare/cloudflared to v2023.8.2
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/thanos/thanos to v0.32.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tibdex/github-app-token action to v1.8.2
  .github/workflows/create-blacklist.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update rook ceph group to v1.12.3
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-6
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.655
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3894
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v38.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart cert-manager to v1.12.4
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.13.4
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 68cfec2
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.5.3896
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.657
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.13.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image kube-prometheus-stack to v50
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Add CRDs for kps to bootstrap
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

feat(container): update image ghcr.io/tarampampam/error-pages to v2.25.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to e300ec5
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3897
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.6.3905
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.36.0
  .pre-commit-config.yaml
Labels: none
