Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image kube-prometheus-stack to v55.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.90.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action): update oxsecurity/megalinter action to v7.7.0
  .github/workflows/lint.yaml
Labels: area/github

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.38.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart loki to 5.40.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vpa to 3.1.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/onedr0p/lidarr to v2
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/onedr0p/postgres-init to v16
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/apps/self-hosted/tesla-spy/app/helm-release.yaml
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.11.2319
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.90.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container)!: Update Image ghcr.io/onedr0p/postgres-init to v16
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/teslamate/app/helm-release.yaml
  kubernetes/apps/security/authelia/app/helm-release.yaml
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
  kubernetes/apps/security/lldap/app/helm-release.yaml
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
  kubernetes/apps/self-hosted/tesla-spy/app/helm-release.yaml
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update oxsecurity/megalinter action to v7.7.0
  .github/workflows/lint.yaml
Labels: area/github

feat(helm): update chart vpa to 3.1.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/onedr0p/lidarr to v2
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.38.0
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart loki to 5.40.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.13.3
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.14
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v18.5.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.17.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.17.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v18.5.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.14
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.13.3
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

Moved configuration files
  .envrc
  infrastructure/setup/setup-config.sh
  infrastructure/talos/deploy-extras.sh
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.734
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

1Password labels are now case-sensitive
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/modules/onepassword_minio_bucket/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.2.4152
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.17
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/fluxcd/flux-manifests to v2.2.0
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v2.2.0
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
