Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, cluster/main, cluster/staging, cluster/nas

ci: Remove lint checker
  .github/workflows/lint.yaml
Labels: area/github

fix(ci): Fix labeling issues for PRs
  .github/labels.yaml
  .github/renovate/customManagers.json5
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(ci): Fix labeling issues for PRs
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(authelia): Add alternate wiki authentication
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: cluster/main

ci(renovate): Don't need recreateWhen
  .github/renovate.json5
Labels: area/github

ci(renovate): Don't need to customize renovate version
  .github/workflows/renovate.yaml
Labels: area/github

fix: Prepare for grafana angular deprecation
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: cluster/main

feat(staging): Starting to move staging cluster bringup to tasks
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/Proxmox/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  infrastructure/talos/staging/README.md
  infrastructure/talos/staging/deploy.sh
  infrastructure/talos/staging/gen-configs.sh
  infrastructure/talos/staging/health.sh
  infrastructure/talos/staging/reset.sh
  infrastructure/terraform/proxmox/destroyall.sh
  infrastructure/terraform/proxmox/killcdrom.sh
  kubernetes/staging/bootstrap/talos/.gitignore
  kubernetes/staging/bootstrap/talos/talconfig.yaml
  kubernetes/staging/bootstrap/talos/talenv.sops.yaml
  kubernetes/staging/bootstrap/talos/talsecret.sops.yaml
Labels: area/infrastructure, cluster/staging

feat(staging): Continuing to move staging cluster bringup to tasks
  .envrc
  .gitignore
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/Proxmox/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  flake.lock
  flake.nix
  kubernetes/staging/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/staging/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/staging/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/staging/apps/kube-system/cilium/config/lb-pool.yaml
  kubernetes/staging/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/staging/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/staging/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/staging/bootstrap/talos/apps/helmfile.yaml
Labels: cluster/staging

Staging cluster bringup
  .taskfiles/Proxmox/Taskfile.yaml
  infrastructure/talos/main/talconfig.yaml
  infrastructure/talos/staging/.gitignore
  infrastructure/talos/staging/approve-certs.sh
  infrastructure/talos/staging/deploy-extras.sh
  infrastructure/talos/staging/extras/cni/kustomization.yaml
  infrastructure/talos/staging/extras/csr-approver/kustomization.yaml
  kubernetes/staging/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/staging/bootstrap/talos/talconfig.yaml
Labels: area/infrastructure, cluster/staging

ci(renovate): Check talconfig update
  kubernetes/staging/bootstrap/talos/talconfig.yaml
Labels: cluster/staging

chore: Refactor/tidy staging tasks
  .gitignore
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  flake.nix
  kubernetes/staging/apps/kustomization.bootstrap
Labels: cluster/staging

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"
