Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

fix(github-release): update tektoncd/triggers to v0.22.2
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

Fixing renovate rule
  .github/renovate.json5
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/github, area/cluster

feat(github-release): update tekton group
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

Fixing renovate rule
  .github/renovate.json5
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/github, area/cluster

Add common tasks
  kubernetes/apps/tekton/tekton/app/feature-flags.yaml
  kubernetes/apps/tekton/tekton/install.yaml
  kubernetes/apps/tekton/tekton/tasks/git-clone.yaml
  kubernetes/apps/tekton/tekton/tasks/kaniko.yaml
  kubernetes/apps/tekton/tekton/tasks/kustomization.yaml
  kubernetes/apps/tekton/tekton/tasks/namespace.yaml
Labels: area/cluster

fix(container): update image docker.io/library/bash to v5.1.16
  kubernetes/apps/tekton/tekton/tasks/kaniko.yaml
Labels: area/cluster

feat(container): update image docker.io/library/bash to v5.2.15
  kubernetes/apps/tekton/tekton/tasks/kaniko.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.221.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update actions/checkout action to v3.5.0
  .github/workflows/helmrelease-diff.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/n8n-io/n8n to v0.221.2
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2984
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.9.2
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v36.0.2
  .github/workflows/renovate.yaml
Labels: area/github

Don't need tasks here
  kubernetes/apps/tekton/tekton/install.yaml
  kubernetes/apps/tekton/tekton/tasks/git-clone.yaml
  kubernetes/apps/tekton/tekton/tasks/kaniko.yaml
  kubernetes/apps/tekton/tekton/tasks/kustomization.yaml
  kubernetes/apps/tekton/tekton/tasks/namespace.yaml
Labels: area/cluster

feat(github-action): update oxsecurity/megalinter action to v6.21.0
  .github/workflows/lint.yaml
Labels: area/github

fix(helm): update chart reloader to v1.0.16
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Add in some scraping
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to v0.6.20
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.8.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v35.7.7
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(helm): update chart traefik to 21.2.1
  kubernetes/apps/networking/traefik/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.4.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.2.5
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.31.3.6868-28fc46b27
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v35.7.8
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

feat(helm): update chart metrics-server to 3.9.0
  kubernetes/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/exportarr to v1.2.6
  kubernetes/apps/media/lidarr/observability/helm-release.yaml
  kubernetes/apps/media/radarr-4k/observability/helm-release.yaml
  kubernetes/apps/media/radarr/observability/helm-release.yaml
  kubernetes/apps/media/sonarr/observability/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.52.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 4.9.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart traefik to 22.0.0
  kubernetes/apps/networking/traefik/app/helm-release.yaml
Labels: area/cluster

Turn off machine learning temporarily
  kubernetes/apps/media/immich/app/immich-config.yaml
  kubernetes/apps/media/immich/app/kustomization.yaml
  kubernetes/apps/media/immich/install.yaml
Labels: area/cluster

chore(deps): update image docker.io/excalidraw/excalidraw to 80fb12a
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to ce2d53d
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.7.6
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.52.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.8.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart weave-gitops to 4.0.17
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update prometheus-operator/prometheus-operator to v0.64.0
  kubernetes/bootstrap/crds/kustomization.yaml
Labels: area/cluster

feat(helm): update chart actions-runner-controller to 0.23.0
  kubernetes/apps/dev/actions-runner-controller/app/helm-release.yaml
Labels: area/cluster

Move loki datasource to grafana helm
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/datasource.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
Labels: area/cluster
