Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update immich group
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart botkube to v1.1.0
  kubernetes/apps/monitoring/botkube/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/theme-park to 5788dd8
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/immich-app/immich-server to v1.62.1
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3580
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to f0f1ec5
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2023.6.1
  kubernetes/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3584
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image registry.k8s.io/git-sync/git-sync to v3.6.7
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.8.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.5
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.8.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update tektoncd/pipeline to v0.49.0
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

feat(container)!: Update Image kube-prometheus-stack to v47
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 89bd5c2
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.8.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.24
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart intel-device-plugins-gpu to 0.27.1
  kubernetes/apps/system/intel-device-plugin/gpu/helm-release.yaml
Labels: area/cluster

fix(helm): update chart intel-device-plugins-operator to 0.27.1
  kubernetes/apps/system/intel-device-plugin/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.43
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform http to 3.4.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3585
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.234.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3589
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.8.3
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.8.4
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

feat(container): update image registry.k8s.io/autoscaling/vpa-recommender to v0.14.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update tektoncd/dashboard to v0.37.0
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

feat(helm): update chart external-secrets to 0.9.0
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.6.2.3590
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.8.4
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/recyclarr/recyclarr to v5
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.0.1
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update tj-actions/changed-files action to v37.0.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Tweak config for recyclarr
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yaml
Labels: area/cluster

Try without LIBVA for frigate
  kubernetes/apps/home/frigate/app/config/config.yaml
  kubernetes/apps/home/frigate/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.6.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.63.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.0.2
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v37.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github
