Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

Add container-oom prometheus rule
  kubernetes/apps/monitoring/miscellaneous/rules/container-oom.yaml
  kubernetes/apps/monitoring/miscellaneous/rules/kustomization.yaml
Labels: area/cluster

Speedtest once per day
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/bazarr to 6e6cae2
  kubernetes/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3274
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Upgrade to k8s 1.27.1
  infrastructure/talos/talconfig.yaml
Labels: none

Remove custom error codes
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Fix reload info
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Adding theme-park
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/qbittorrent/app/helm-release.yaml
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/theme-park/app/helm-release.yaml
  kubernetes/apps/self-hosted/theme-park/app/kustomization.yaml
  kubernetes/apps/self-hosted/theme-park/install.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3278
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v35.9.2
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sabnzbd to v4.0.1
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

Add rfc2136 support
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/networking/external-dns/cloudflare/external-dns-cloudflare-secrets.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/networking/external-dns/install.yaml
  kubernetes/apps/networking/external-dns/rfc2136/external-dns-rfc2136-secrets.yaml
  kubernetes/apps/networking/external-dns/rfc2136/helm-release.yaml
  kubernetes/apps/networking/external-dns/rfc2136/kustomization.yaml
Labels: area/cluster

External names should go to ingress
  kubernetes/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
Labels: area/cluster

Add ingress annotation
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3286
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update peter-evans/create-or-update-comment action to v3.0.1
  .github/workflows/helmrelease-diff.yaml
Labels: area/github

fix(github-action): update peter-evans/create-pull-request action to v5.0.1
  .github/workflows/publish-cloudflare-networks.yaml
Labels: area/github

feat(helm): update chart thanos to 12.5.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

Remove k8s-gateway
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/rbac.yaml
  kubernetes/apps/networking/k8s-gateway/install.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

Rename dmarc table to have no dash
  kubernetes/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/apps/security/dmarc-report/app/helm-release.yaml
Labels: area/cluster

Fix rfc2136 naming clash
  kubernetes/apps/networking/external-dns/bind/external-dns-bind-secrets.yaml
  kubernetes/apps/networking/external-dns/bind/helm-release.yaml
  kubernetes/apps/networking/external-dns/bind/kustomization.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helm-release.yaml
  kubernetes/apps/networking/external-dns/install.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/lldap/lldap to cfb2120
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.226.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3287
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.7.8
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v36.0.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update rook ceph group to v1.11.5
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.24.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

Remove using backup / wal for cnpg
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 16f8ae8
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/n8n-io/n8n to v0.226.2
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3291
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Added wipe rook
  .taskfiles/Rook/Tasks.yaml
  .taskfiles/Rook/WipeDiskJob.tmpl.yaml
  .taskfiles/Rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/_scripts/wait-for-k8s-job.sh
Labels: none

feat(container): update image ghcr.io/n8n-io/n8n to v0.227.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v36.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart kube-prometheus-stack to 45.25.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.5.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

Fix typo
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/wait-for-job.sh
Labels: none

Update postgres
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/kustomization.yaml
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/prometheus-rule.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/postgres-minio-secret.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/cluster
