Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

chore(deps): update image ghcr.io/onedr0p/readarr-develop to c83ade4
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

Tweak auto-commit rules
  .github/renovate/autoMerge.json5
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/calibre-web to 1d076e4
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to 2daf5e8
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/staging/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sonarr to e868fc4
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image quay.io/ceph/ceph to v18.2.2
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v40.1.4
  .github/workflows/renovate.yaml
Labels: area/github

Update helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore(deps): update oxsecurity/megalinter action to v7.10.0
  .github/workflows/lint.yaml
Labels: area/github

chore(deps): update terraform minio to 2.1.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

chore(deps): update image app-template to v3
  kubernetes/nas/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

Update staging rook to 18.2.2
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

Upgrade main rook to 18.2.2
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore(deps): update renovatebot/github-action action to v40.1.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update chart grafana to 7.3.6
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart kubernetes-dashboard to 7.1.2
  kubernetes/staging/apps/kube-system/kubernetes-dashboard/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.19.2
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update immich group to v1.98.2
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update oxsecurity/megalinter action to v7.10.0
  .github/workflows/lint.yaml
Labels: area/github

chore(deps): update chart grafana to 7.3.6
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update immich group to v1.98.2
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

chore(deps): update terraform minio to 2.1.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

chore(deps): update chart kubernetes-dashboard to 7.1.2
  kubernetes/staging/apps/kube-system/kubernetes-dashboard/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.19.2
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Upgrade NAS to 3.0.2
  kubernetes/nas/apps/default/whoami/app/helm-release.yaml
Labels: area/cluster

Switch to dragonfly operator
  kubernetes/main/apps/dbms/dragonfly-operator/app/dragonfly-operator-crd.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/app/helm-release.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/app/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/app/rbac.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/install.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
Labels: area/cluster

Switch Authelia to dragonfly redis
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
Labels: area/cluster

Decommission Redis
  config.sops.env
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/cluster/vars/cluster-settings.cfg
  kubernetes/main/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/main/cluster/vars/cluster-settings.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to f333c99
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/qbittorrent to f2895e6
  kubernetes/main/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to 7db08fb
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to fa8ddea
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/staging/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sonarr to bbfcda0
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/staging/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart node-feature-discovery to 0.15.2
  kubernetes/main/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/nodered/node-red to v3.1.7
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image dragonfly to v1.15.1
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.14.3.4324
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v57.0.2
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
