Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(helm): update chart reloader to v1.0.17
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2987
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-dns to 1.12.2
  kubernetes/apps/networking/external-dns/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.18
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/n8n-io/n8n to v0.222.0
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 4.10.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.0
  .pre-commit-config.yaml
Labels: none

Minor cert-manager tweaks
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/cloudflare-secrets.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-prod.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
Labels: area/cluster

Move draw to internal only for now
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.5.3
  kubernetes/apps/web-tools/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

fix(helm): update chart volsync to 0.7.1
  kubernetes/apps/system/volsync/app/helm-release.yaml
Labels: area/cluster

Move wiki internal for now
  kubernetes/apps/web-tools/outline/app/helm-release.yaml
Labels: area/cluster

Add port for authelia auth check
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/apps/web-tools/excalidraw/app/helm-release.yaml
  kubernetes/apps/web-tools/outline/app/helm-release.yaml
Labels: area/cluster

Add k8s-gateway
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/service.yaml
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
  kubernetes/apps/networking/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/networking/k8s-gateway/app/rbac.yaml
  kubernetes/apps/networking/k8s-gateway/install.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/cluster/vars/cluster-settings.cfg
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

Fix toleration on nginx
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image docker to v24
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
Labels: area/cluster

Fix charts repo name
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
  kubernetes/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/cluster/repositories/helm-charts/weave-gitops-charts.yaml
Labels: area/cluster

Housekeeping
  infrastructure/setup/env.base-template
  infrastructure/setup/env.main-template
  kubernetes/apps/networking/ingress-nginx/app/wildcard-certificate.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
  kubernetes/cluster/vars/cluster-settings.cfg
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

Rename domain environment variables
  infrastructure/talos/cilium-values.yaml
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/infrastructure/tf-controller/terraforms/minio.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/networking/ingress-nginx/add-ons/policies/update-ingress-annotations.yaml
  kubernetes/apps/networking/ingress-nginx/app/wildcard-certificate.yaml
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/security/external-secrets/stores/onepassword-store.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

Fixed domain registration
  kubernetes/apps/networking/ingress-nginx/app/wildcard-certificate.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2991
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.9.3
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.4.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update oxsecurity/megalinter action to v6.22.0
  .github/workflows/lint.yaml
Labels: area/github

Debugging nginx - Try removing octoprint external service
  kubernetes/apps/networking/external-services/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.2992
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update oxsecurity/megalinter action to v6.22.1
  .github/workflows/lint.yaml
Labels: area/github

Trying out a helm release for external service
  kubernetes/apps/networking/external-services/atlas/helm-release-minio.yaml
  kubernetes/apps/networking/external-services/atlas/helm-release-s3.yaml
  kubernetes/apps/networking/external-services/atlas/kustomization.yaml
  kubernetes/apps/networking/external-services/atlas/minio-ingress.yaml
  kubernetes/apps/networking/external-services/atlas/minio-service.yaml
  kubernetes/apps/networking/external-services/atlas/s3-ingress.yaml
  kubernetes/apps/networking/external-services/atlas/s3-service.yaml
  kubernetes/apps/networking/external-services/hades/helm-release.yaml
  kubernetes/apps/networking/external-services/hades/ingress.yaml
  kubernetes/apps/networking/external-services/hades/kustomization.yaml
  kubernetes/apps/networking/external-services/hades/service.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
  kubernetes/apps/networking/external-services/octoprint/helm-release.yaml
  kubernetes/apps/networking/external-services/octoprint/ingress.yaml
  kubernetes/apps/networking/external-services/octoprint/kustomization.yaml
  kubernetes/apps/networking/external-services/octoprint/service.yaml
  kubernetes/apps/networking/external-services/pihole/helm-release.yaml
  kubernetes/apps/networking/external-services/pihole/ingress.yaml
  kubernetes/apps/networking/external-services/pihole/kustomization.yaml
  kubernetes/apps/networking/external-services/pihole/service.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 427be94
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/oriedge/k8s_gateway to v0.3.4
  kubernetes/apps/networking/k8s-gateway/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.52.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Using a different way for external endpoint
  kubernetes/apps/networking/external-services/atlas/helm-release-minio.yaml
  kubernetes/apps/networking/external-services/atlas/helm-release-s3.yaml
  kubernetes/apps/networking/external-services/atlas/kustomization.yaml
  kubernetes/apps/networking/external-services/external-hades-ui.yaml
  kubernetes/apps/networking/external-services/external-minio.yaml
  kubernetes/apps/networking/external-services/external-octo-ui.yaml
  kubernetes/apps/networking/external-services/external-pihole-ui.yaml
  kubernetes/apps/networking/external-services/external-s3.yaml
  kubernetes/apps/networking/external-services/hades/helm-release.yaml
  kubernetes/apps/networking/external-services/hades/kustomization.yaml
  kubernetes/apps/networking/external-services/kustomization.yaml
  kubernetes/apps/networking/external-services/octoprint/helm-release.yaml
  kubernetes/apps/networking/external-services/octoprint/kustomization.yaml
  kubernetes/apps/networking/external-services/pihole/helm-release.yaml
  kubernetes/apps/networking/external-services/pihole/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to fdddff9
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update oxsecurity/megalinter action to v6.22.2
  .github/workflows/lint.yaml
Labels: area/github

fix(github-release): update tektoncd/triggers to v0.23.1
  kubernetes/apps/tekton/tekton/app/tekton-source.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 6.5.2
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.12.2
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.4.2
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vpa to 1.7.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
