Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

feat(container): update image codercom/code-server to v4.17.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.17.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v18.1.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update actions/checkout action to v4.1.0
  .github/workflows/kubeconform.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update oxsecurity/megalinter action to v7.4.0
  .github/workflows/lint.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v39.2.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Upgrade talos to 1.5.3
  infrastructure/talos/talconfig.yaml
Labels: none

feat(helm): update chart grafana to 6.60.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart ingress-nginx to 4.8.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Default backend disabled and enable snippets
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

Don't need backend volume
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to b872f2a
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v51.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3982
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.6.2232
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

Keep 20 days
  kubernetes/apps/home/frigate/app/config/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/github-actions-runner to c0300ea
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/github-actions-runner to 64a677b
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

chore(deps): update actions/checkout digest to 8ade135
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update image gha-runner-scale-set to v0.6.1
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(container): update image gha-runner-scale-set-controller to v0.6.1
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
Labels: area/cluster

Fix grouping
  .github/renovate/groups.json5
Labels: area/github

fix(container): update image gha-runner-scale-set-controller to v0.6.1
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.1.0
  kubernetes/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/system/intel-device-plugin/gpu/helm-release.yaml
Labels: area/cluster

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/system/intel-device-plugin/operator/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image registry.k8s.io/autoscaling/vpa-recommender to v1
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.13.1
  kubernetes/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.32.6.7557-1cf77d501
  kubernetes/apps/media/plex/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.686
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image weave-gitops to v4.0.31
  kubernetes/apps/flux-system/weave-gitops/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.23.1
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/timberio/vector to v0.33.0
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart goldilocks to 7.3.0
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3986
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to d897570
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.1.1
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.2.3988
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-problem-detector to 2.3.11
  kubernetes/apps/monitoring/node-problem-detector/app/helm-release.yaml
Labels: area/cluster
