Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(deps): update chart cloudnative-pg to 0.20.1
  kubernetes/main/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

chore(deps): update fluxcd/flux2 to v2.2.3
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/nas/bootstrap/flux/kustomization.yaml
  kubernetes/staging/bootstrap/flux/kustomization.yaml
Labels: area/cluster

chore(deps): update fluxcd/flux2 to v2.2.3
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image dragonfly to v1.14.2
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/fluxcd/flux-manifests to v2.2.3
  kubernetes/main/cluster/config/flux.yaml
  kubernetes/nas/cluster/config/flux.yaml
  kubernetes/staging/cluster/config/flux.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/dmarc-report to v1.4.3
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.6.2
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/create-github-app-token digest to 86576b3
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update chart cloudnative-pg to 0.20.1
  kubernetes/main/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

chore(deps): update fluxcd/flux2 to v2.2.3
  kubernetes/main/bootstrap/flux/kustomization.yaml
  kubernetes/nas/bootstrap/flux/kustomization.yaml
  kubernetes/staging/bootstrap/flux/kustomization.yaml
Labels: area/cluster

chore(deps): update fluxcd/flux2 to v2.2.3
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image dragonfly to v1.14.2
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/fluxcd/flux-manifests to v2.2.3
  kubernetes/main/cluster/config/flux.yaml
  kubernetes/nas/cluster/config/flux.yaml
  kubernetes/staging/cluster/config/flux.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/dmarc-report to v1.4.3
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image kube-prometheus-stack to v56.6.2
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image codercom/code-server to v4.21.0
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/coder/code-server to v4.21.0
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image codercom/code-server to v4.21.0
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/coder/code-server to v4.21.0
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image prometheus-node-exporter to v4.28.0
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update image prometheus-node-exporter to v4.28.0
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update pre-commit hook adrienverge/yamllint to v1.34.0
  .pre-commit-config.yaml
Labels: none

Add dragonfly dashboard
  kubernetes/main/apps/dbms/dragonfly/app/kustomization.yaml
Labels: area/cluster

chore(deps): update image docker.io/nodered/node-red to v3.1.4
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.3.4257
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image docker.io/nodered/node-red to v3.1.4
  kubernetes/main/apps/home/node-red/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 13f1d19
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image dragonfly to v1.14.3
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image elasticsearch to v8.12.1
  kubernetes/main/apps/dbms/elasticsearch/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image prometheus-node-exporter to v4.29.0
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image prometheus-node-exporter to v4.29.0
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image dragonfly to v1.14.3
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image elasticsearch to v8.12.1
  kubernetes/main/apps/dbms/elasticsearch/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart reloader to 1.0.67
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.14
  kubernetes/main/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.3.4259
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart metrics-server to 3.12.0
  kubernetes/main/apps/kube-system/metrics-server/app/helm-release.yaml
  kubernetes/nas/apps/kube-system/metrics-server/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/metrics-server/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/actions/actions-runner to v2.313.0
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/home-assistant to v2024.2.0
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster
