Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

Remove bazarr
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/volsync-config.yaml
  kubernetes/apps/media/bazarr/install.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3842
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.14.6
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.72.2
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 7.1.1
  kubernetes/apps/monitoring/goldilocks/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 23b6b92
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.2.1
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

Use built-in dark theme
  kubernetes/apps/media/lidarr/app/helm-release.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yaml
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3844
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.603
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

Add caching for immich
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

Fix s3 address
  kubernetes/apps/networking/external-services/external-minio.yaml
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/kustomization.yaml
  kubernetes/apps/self-hosted/outline/app/patches/env.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3850
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.605
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.58.8
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(container): update image redis to v17.15.0
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

feat(container): update image thanos to v12.11.0
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3851
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Another try at fixing S3 for outline
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

Move OIDC secret
  kubernetes/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/outline-secrets.yaml
Labels: area/cluster

Automerge sonarr-develop
  .github/renovate/autoMerge.json5
Labels: area/github

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.8.2
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

feat(github-action): update oxsecurity/megalinter action to v7.3.0
  .github/workflows/lint.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.610
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

Still trying to fix S3
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
  kubernetes/apps/self-hosted/outline/app/outline-secrets.yaml
  kubernetes/apps/self-hosted/outline/app/redis.json
Labels: area/cluster

Update talos to 1.4.8
  infrastructure/talos/talconfig.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3853
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.15.3
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.36
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

Theme-park for calibre-web
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3856
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kyverno to v3.0.5
  kubernetes/apps/kyverno/kyverno/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-1
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-2
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.8.2
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.8.2.3859
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.615
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

Add wikijs
  kubernetes/apps/self-hosted/kustomization.yaml
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
  kubernetes/apps/self-hosted/wikijs/app/kustomization.yaml
  kubernetes/apps/self-hosted/wikijs/app/wikijs-secrets.yaml
  kubernetes/apps/self-hosted/wikijs/install.yaml
Labels: area/cluster

OIDC for wikijs
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/self-hosted/wikijs/app/helm-release.yaml
Labels: area/cluster

Move outline to wikio
  kubernetes/apps/security/authelia/app/config/configuration.yaml
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster
