Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

chore(deps): update image ghcr.io/bjw-s/calibre-web to fccd775
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/recyclarr/recyclarr to v5.1.1
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update allenporter/flux-local action to 1.3.3
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.0.5
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart loki to 5.8.8
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vpa to 2.1.1
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.11.9
  kubernetes/apps/rook-ceph/rook-ceph/add-ons/direct-mount/deployment.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.65.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.7.1
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.43.2
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update allenporter/flux-local action to 2.0.0
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 5d4700f
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update allenporter/flux-local action to 2.0.1
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image ghcr.io/onedr0p/lidarr to v1.2.6.3313
  kubernetes/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3632
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/outlinewiki/outline to v0.70.0
  kubernetes/apps/self-hosted/outline/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/readarr-develop to v0.2.0.1908
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3639
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v47.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to 12054dd
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3642
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Fix indenting
  infrastructure/terraform/cloudflare/locals.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3656
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v47.2.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.8.1
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/radarr to v4.6.4.7568
  kubernetes/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.3-7
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart loki to 5.8.9
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v47.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.66.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart tf-controller to 0.15.0
  kubernetes/apps/infrastructure/tf-controller/app/helm-release.yaml
Labels: area/cluster

Don't need upgrade images
  kubernetes/apps/infrastructure/tf-controller/app/helm-release.yaml
Labels: area/cluster

Add email
  infrastructure/terraform/cloudflare/domain_tech.tf
Labels: none

Move cloudflare config to separate repo
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/account.tf
  infrastructure/terraform/cloudflare/domain_k8s.tf
  infrastructure/terraform/cloudflare/domain_tech.tf
  infrastructure/terraform/cloudflare/locals.tf
  infrastructure/terraform/cloudflare/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/dns.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/main.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/outputs.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/variables.tf
  infrastructure/terraform/cloudflare/modules/cf_domain/waf.tf
  infrastructure/terraform/cloudflare/providers.tf
Labels: none

fix(container): update image ghcr.io/n8n-io/n8n to v1.0.1
  kubernetes/apps/home/n8n/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.7.1.3660
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v17.11.7
  kubernetes/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update flux group to v2.0.0
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

feat(github-release)!: Update fluxcd/flux2 to v2.0.0
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
