Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/fluxcd/flux-manifests to v2.1.1
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/eclipse-mosquitto to v2.0.18
  kubernetes/apps/home/mosquitto/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.1.1
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.1.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.5
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart snapshot-controller to 1.9.1
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart snapshot-validation-webhook to 1.8.1
  kubernetes/apps/system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update Chart vpa to 3.0.0
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

Added snapshot controller group
  .github/renovate/groups.json5
Labels: area/github

Add tesla-spy runner
  kubernetes/apps/dev/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

Use custom action runner
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v39.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart vpa to 3.0.1
  kubernetes/apps/monitoring/vpa/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update tibdex/github-app-token action to v2.1.0
  .github/workflows/create-blacklist.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Add k8s-staging runners
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/github-actions-runner to 5d93c04
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.1.3977
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/timberio/vector to v0.32.2
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v39.1.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update chart node-feature-discovery to 0.14.1
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.41
  kubernetes/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-11
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(container): update image docker.io/dpage/pgadmin4 to v7.7
  kubernetes/apps/dbms/pgadmin/app/helm-release.yaml
Labels: area/cluster

Bump lldap to v0.5.0
  kubernetes/apps/security/lldap/app/helm-release.yaml
Labels: area/cluster

Fix recyclarr config
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.5
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.22.2
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v51.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.79.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.23.0
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v15.4-12
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.2
  kubernetes/apps/self-hosted/changedetection/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v51.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.79.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.59.5
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook igorshubovych/markdownlint-cli to v0.37.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update image ghcr.io/bjw-s/calibre-web to a5a40ae
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.9.1.3981
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.6.4
  kubernetes/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
