Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-11
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.3.4163
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update gha group to v0.8.0
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

feat(helm): update chart intel-device-plugins-gpu to 0.29.0
  kubernetes/apps/system/intel-device-plugin/gpu/helm-release.yaml
Labels: area/cluster

feat(helm): update chart intel-device-plugins-operator to 0.29.0
  kubernetes/apps/system/intel-device-plugin/operator/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update allenporter/flux-local action to 4.0.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update allenporter/flux-local action to 4.0.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(helm): update chart intel-device-plugins-operator to 0.29.0
  kubernetes/apps/system/intel-device-plugin/operator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart intel-device-plugins-gpu to 0.29.0
  kubernetes/apps/system/intel-device-plugin/gpu/helm-release.yaml
Labels: area/cluster

feat(container): update gha group to v0.8.0
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-11
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update gha group to v0.8.1
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(container): update image thanos to v12.20.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.6
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

feat(container): update image codercom/code-server to v4.20.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.20.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(github-action): update allenporter/flux-local action to 4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(helm): update chart cloudnative-pg to 0.20.0
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

feat(helm): update chart ingress-nginx to 4.9.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart ingress-nginx to 4.9.0
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart cloudnative-pg to 0.20.0
  kubernetes/apps/dbms/cloudnative-pg/cloudnative-pg/helm-release.yaml
Labels: area/cluster

feat(github-action): update allenporter/flux-local action to 4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(container): update image ghcr.io/coder/code-server to v4.20.0
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update image codercom/code-server to v4.20.0
  kubernetes/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 1.0.6
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/cluster

fix(container): update image thanos to v12.20.1
  kubernetes/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

fix(container): update gha group to v0.8.1
  kubernetes/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-12
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(helm): update chart node-feature-discovery to 0.15.0
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart node-feature-discovery to 0.15.0
  kubernetes/apps/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-12
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

feat(github-action): update allenporter/flux-local action to 4.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to 4.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart democratic-csi to 0.14.3
  kubernetes/apps/system/democratic-csi/local-path/helm-release.yaml
Labels: area/cluster

fix(helm): update chart democratic-csi to 0.14.3
  kubernetes/apps/system/democratic-csi/local-path/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update tj-actions/changed-files action to v41.0.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v41.0.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

Upgrade talos to 1.6.1
  infrastructure/talos/talconfig.yaml
Labels: none

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 02dab84
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.13.2338
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
