Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.14.2348
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

Added some grafana pages
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Make home-assistant config editable
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.749
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart descheduler to 0.29.0
  kubernetes/main/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart descheduler to 0.29.0
  kubernetes/main/apps/system/descheduler/app/helm-release.yaml
Labels: area/cluster

fix(container): update vector group
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/staging/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/typesense/typesense to v0.25.2
  kubernetes/main/apps/media/immich/app/typesense/helm-release.yaml
Labels: area/cluster

fix(helm): update chart democratic-csi to 0.14.4
  kubernetes/main/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helm-release.yaml
Labels: area/cluster

Update flux-diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.0.4186
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.60
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.2.0
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/typesense/typesense to v0.25.2
  kubernetes/main/apps/media/immich/app/typesense/helm-release.yaml
Labels: area/cluster

fix(helm): update chart democratic-csi to 0.14.4
  kubernetes/main/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/nas/apps/system/local-path-provisioner/app/helm-release.yaml
Labels: area/cluster

Immich doesn't need typesense
  kubernetes/main/apps/media/immich/app/immich-config.yaml
  kubernetes/main/apps/media/immich/app/immich-secrets.yaml
  kubernetes/main/apps/media/immich/app/kustomization.yaml
  kubernetes/main/apps/media/immich/app/typesense/helm-release.yaml
  kubernetes/main/apps/media/immich/app/typesense/kustomization.yaml
Labels: area/cluster

Fix rook-ceph install
  kubernetes/main/apps/rook-ceph/rook-ceph/install.yaml
Labels: area/cluster

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.60
  kubernetes/main/apps/system/reloader/app/helm-release.yaml
Labels: area/cluster

vyos firewall log messages include ipv4-
  kubernetes/main/apps/monitoring/vector/aggregator/config/vector.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.751
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/onedr0p/home-assistant to v2024
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Don't duplicate snapshotclass
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

Fix tag
  kubernetes/main/apps/monitoring/jaeger/config/ingress.yaml
Labels: area/cluster

feat(container)!: Update Image ghcr.io/onedr0p/home-assistant to v2024
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

Fix readme links
  README.md
Labels: none

Fix cert-manager dashboard
  kubernetes/main/apps/cert-manager/cert-manager/app/dashboards/cert-manager.json
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

Add power usage
  README.md
  kubernetes/main/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.7.3
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

Fix flux-diff maybe?
  .sops.yaml
  kubernetes/main/talos/.sops.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.5.2
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.6.2
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image redis to v18.6.2
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v55.5.2
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.7.3
  kubernetes/main/apps/self-hosted/shlink/shlink-api/helm-release.yaml
Labels: area/cluster

Fix readme image
  README.md
  docs/assets/logo.png
Labels: none

Move talos to infrastructure
  README.md
  infrastructure/talos/main/.gitignore
  infrastructure/talos/main/README.md
  infrastructure/talos/main/approve-certs.sh
  infrastructure/talos/main/deploy-extras.sh
  infrastructure/talos/main/deploy.sh
  infrastructure/talos/main/extras/cni/kustomization.yaml
  infrastructure/talos/main/extras/csr-approver/kustomization.yaml
  infrastructure/talos/main/gen-configs.sh
  infrastructure/talos/main/health.sh
  infrastructure/talos/main/reset.sh
  infrastructure/talos/main/talconfig.yaml
  infrastructure/talos/main/talenv.sops.yaml
  infrastructure/talos/main/talsecret.sops.yaml
  infrastructure/talos/staging/.gitignore
  infrastructure/talos/staging/README.md
  infrastructure/talos/staging/approve-certs.sh
  infrastructure/talos/staging/deploy-extras.sh
  infrastructure/talos/staging/deploy.sh
  infrastructure/talos/staging/extras/cni/kustomization.yaml
  infrastructure/talos/staging/extras/csr-approver/kustomization.yaml
  infrastructure/talos/staging/gen-configs.sh
  infrastructure/talos/staging/health.sh
  infrastructure/talos/staging/reset.sh
  infrastructure/talos/staging/talconfig.yaml
  infrastructure/talos/staging/talenv.sops.yaml
  infrastructure/talos/staging/talsecret.sops.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.12.0.4187
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
