Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

chore(deps): update immich group to v1.94.1
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/shlinkio/shlink-web-client to v4
  kubernetes/main/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

chore(deps): update immich group to v1.94.1
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

chore(deps): update image prometheus-node-exporter to v4.27.0
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

chore(deps): update cilium/cilium to v1.15.0
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart snapshot-controller to 2.1.0
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/staging/apps/kube-system/snapshot-controller/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image public.ecr.aws/docker/library/haproxy to v2.9.4
  kubernetes/main/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/blakeblackshear/frigate to v0.13.1
  kubernetes/main/apps/home/frigate/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.11.1
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Revert "chore(deps): update image redis to v18.11.1"
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

Update cnpg chart location
  kubernetes/main/apps/dbms/cloudnative-pg/cloudnative-pg/kustomization.yaml
Labels: area/cluster

Upgrade Talos 1.6.4
  infrastructure/talos/main/talconfig.yaml
  infrastructure/talos/staging/talconfig.yaml
Labels: none

chore(deps): update mshick/add-pr-comment action to v2.8.2
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update image redis to v18.12.0
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/shlinkio/shlink-web-client to v4
  kubernetes/main/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

chore(deps): update mshick/add-pr-comment action to v2.8.2
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update image redis to v18.12.0
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/shlinkio/shlink-web-client to v4
  kubernetes/main/apps/self-hosted/shlink/shlink-web/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/bjw-s/calibre-web to dbb3025
  kubernetes/main/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.1-17
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.1-17
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update chart loki to 5.42.2
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart cert-manager to v1.14.1
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/staging/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart cert-manager to v1.14.1
  kubernetes/main/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/nas/apps/cert-manager/cert-manager/app/helm-release.yaml
  kubernetes/staging/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

chore(deps): update chart loki to 5.42.2
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.1-18
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.2.4251
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.12.1
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.12.1
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/cloudnative-pg/postgresql to v16.1-18
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

chore(deps): update image thanos to v12.23.1
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v12.23.1
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to f48545e
  kubernetes/main/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to v0.3.18.2411
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to v0.3.18.2411
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/home-assistant to 3ae078c
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/readarr-develop to a1d9eb2
  kubernetes/main/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/sabnzbd to 5b1f15c
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/staging/apps/media/sabnzbd/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/dmarc-report to 81691a1
  kubernetes/main/apps/security/dmarc-report/app/helm-release.yaml
Labels: area/cluster

chore(deps): update actions/create-github-app-token digest to 86576b3
  .github/workflows/flux-diff.yaml
Labels: area/github

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
