Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, area/taskfile, cluster/main, cluster/staging, cluster/nas

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"

Add gatus templates
  kubernetes/main/apps/media/immich/app/server/kustomization.yaml
  kubernetes/main/apps/media/immich/install.yaml
  kubernetes/main/apps/media/overseerr/app/kustomization.yaml
  kubernetes/main/apps/media/overseerr/install.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/install.yaml
  kubernetes/main/apps/media/radarr-4k/app/kustomization.yaml
  kubernetes/main/apps/media/radarr-4k/install.yaml
  kubernetes/main/apps/media/radarr/app/kustomization.yaml
  kubernetes/main/apps/media/radarr/install.yaml
  kubernetes/main/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/main/apps/media/sabnzbd/install.yaml
  kubernetes/main/apps/media/sonarr/app/kustomization.yaml
  kubernetes/main/apps/media/sonarr/install.yaml
  kubernetes/main/apps/monitoring/gatus/app/gatus-secret.yaml
  kubernetes/main/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/templates/gatus/cluster/configmap.yaml
  kubernetes/main/templates/gatus/cluster/kustomization.yaml
  kubernetes/main/templates/gatus/external/configmap.yaml
  kubernetes/main/templates/gatus/external/kustomization.yaml
Labels: cluster/main

Back up authentik database
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: cluster/main

ci: Move prBodyTemplate to common repo
  .github/renovate.json5
Labels: area/github

fix(grafana): Correct path to cilium dashboards
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: cluster/main

fix(grafana): Correct path to cnpg dashboards
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: cluster/main

fix(authentik): Fix launch url for wikijs
  terraform/authentik/app-wikijs.tf
Labels: none

fix(gatus): send on error resolved
  kubernetes/main/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/main/templates/gatus/cluster/configmap.yaml
  kubernetes/main/templates/gatus/external/configmap.yaml
Labels: cluster/main

fix(authentik): Simplify mappings
  terraform/authentik/main.tf
  terraform/authentik/mappings.tf
Labels: none

feat(authentik): Add home assistant
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
  terraform/authentik/app-home-assistant.tf
  terraform/authentik/directory.tf
  terraform/authentik/main.tf
  terraform/authentik/modules/forward-auth-application/main.tf
  terraform/authentik/outposts.tf
Labels: cluster/main

feat(authentik): Retire Authelia/lldap
  kubernetes/main/apps/security/authelia/app/authelia-secrets.yaml
  kubernetes/main/apps/security/authelia/app/config/configuration.yaml
  kubernetes/main/apps/security/authelia/app/helm-release.yaml
  kubernetes/main/apps/security/authelia/app/kustomization.yaml
  kubernetes/main/apps/security/authelia/install.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/apps/security/lldap/app/helm-release.yaml
  kubernetes/main/apps/security/lldap/app/kustomization.yaml
  kubernetes/main/apps/security/lldap/app/lldap-secrets.yaml
  kubernetes/main/apps/security/lldap/install.yaml
Labels: cluster/main

feat: scrape nas rather than cluster
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: cluster/main

feat(authentik): Add proxy launch url
  terraform/authentik/app-home-assistant.tf
  terraform/authentik/modules/forward-auth-application/main.tf
  terraform/authentik/modules/oidc-application/main.tf
Labels: none

fix: Don't need commonMetadata
  kubernetes/main/apps/networking/external-services/external-birds.yaml
  kubernetes/main/apps/networking/external-services/external-minio.yaml
  kubernetes/main/apps/networking/external-services/install.yaml
Labels: cluster/main

Moving away from bitnami thanos
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/config/cache.yaml
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/thanos-secrets.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/main/cluster/repositories/helm-charts/stevehipwell-charts.yaml
Labels: cluster/main

Remove bitnami charts!
  kubernetes/main/cluster/repositories/helm-charts/bitnami-charts.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
Labels: cluster/main

Update pod monitoring
  kubernetes/main/apps/flux-system/add-ons/monitoring/pod-monitor.yaml
  kubernetes/main/apps/flux-system/add-ons/monitoring/prometheus-rules.yaml
Labels: cluster/main

feat: Adding openebs
  kubernetes/main/apps/system/kustomization.yaml
  kubernetes/main/apps/system/openebs/app/helm-release.yaml
  kubernetes/main/apps/system/openebs/app/kustomization.yaml
  kubernetes/main/apps/system/openebs/install.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
  kubernetes/main/cluster/repositories/helm-charts/openebs-charts.yaml
Labels: cluster/main

Move volsync to openebs
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
Labels: cluster/main

Move thanos to openebs
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: cluster/main

Move monitoring to openebs
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/loki/app/helm-release.yaml
Labels: cluster/main

Fix thanos migration
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheus-secrets.yaml
Labels: cluster/main

feat: Decommision democratic-csi
  kubernetes/main/apps/system/kustomization.yaml
Labels: cluster/main

Fix openebs pvc accessmode
  kubernetes/main/apps/dbms/pgadmin/install.yaml
  kubernetes/main/apps/home/frigate/install.yaml
  kubernetes/main/apps/home/home-assistant/install.yaml
  kubernetes/main/apps/home/mosquitto/install.yaml
  kubernetes/main/apps/home/node-red/install.yaml
  kubernetes/main/apps/media/calibre-web/install.yaml
  kubernetes/main/apps/media/lidarr/install.yaml
  kubernetes/main/apps/media/navidrome/install.yaml
  kubernetes/main/apps/media/openbooks/install.yaml
  kubernetes/main/apps/media/overseerr/install.yaml
  kubernetes/main/apps/media/plex/install.yaml
  kubernetes/main/apps/media/prowlarr/install.yaml
  kubernetes/main/apps/media/qbittorrent/install.yaml
  kubernetes/main/apps/media/radarr-4k/install.yaml
  kubernetes/main/apps/media/radarr/install.yaml
  kubernetes/main/apps/media/readarr/install.yaml
  kubernetes/main/apps/media/recyclarr/install.yaml
  kubernetes/main/apps/media/sabnzbd/install.yaml
  kubernetes/main/apps/media/sonarr/install.yaml
  kubernetes/main/apps/self-hosted/changedetection/install.yaml
  kubernetes/main/apps/self-hosted/dashy/install.yaml
  kubernetes/main/templates/volsync/minio/replicationdestination.yaml
  kubernetes/main/templates/volsync/minio/replicationsource.yaml
Labels: cluster/main

Make plex only 30Gb
  kubernetes/main/apps/media/plex/install.yaml
Labels: cluster/main

chore: Cleanup plex
  hack/ubuntu.yaml
Labels: area/hack

fix: Thanos s3
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/prometheus-secrets.yaml
Labels: cluster/main

Remove democratic csi
  kubernetes/main/apps/system/democratic-csi/install.yaml
  kubernetes/main/apps/system/democratic-csi/local-path/helm-release.yaml
  kubernetes/main/apps/system/democratic-csi/local-path/kustomization.yaml
Labels: cluster/main

Fix prom endpoints
  kubernetes/main/apps/monitoring/kromgo/app/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: cluster/main

Reconfiguring main
  .taskfiles/Bootstrap/Taskfile.yaml
  kubernetes/main/apps/dbms/pgadmin/install.yaml
  kubernetes/main/apps/home/frigate/install.yaml
  kubernetes/main/apps/home/home-assistant/install.yaml
  kubernetes/main/apps/home/mosquitto/install.yaml
  kubernetes/main/apps/home/node-red/install.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/main/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/main/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/config/lb-pool.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/main/apps/kustomization.yaml
  kubernetes/main/apps/media/calibre-web/install.yaml
  kubernetes/main/apps/media/lidarr/install.yaml
  kubernetes/main/apps/media/navidrome/install.yaml
  kubernetes/main/apps/media/openbooks/install.yaml
  kubernetes/main/apps/media/overseerr/install.yaml
  kubernetes/main/apps/media/prowlarr/install.yaml
  kubernetes/main/apps/media/radarr-4k/install.yaml
  kubernetes/main/apps/media/radarr/install.yaml
  kubernetes/main/apps/media/readarr/install.yaml
  kubernetes/main/apps/media/recyclarr/install.yaml
  kubernetes/main/apps/media/sabnzbd/install.yaml
  kubernetes/main/apps/media/sonarr/install.yaml
  kubernetes/main/apps/self-hosted/changedetection/install.yaml
  kubernetes/main/apps/self-hosted/dashy/install.yaml
  kubernetes/main/bootstrap/talos/apps/helmfile.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/cluster/vars/cluster-secrets.sops.cfg
  kubernetes/main/cluster/vars/cluster-secrets.sops.cfg.sha256
  kubernetes/main/cluster/vars/cluster-secrets.sops.yaml
  kubernetes/staging/bootstrap/talos/talconfig.yaml
Labels: area/taskfile, cluster/main, cluster/staging

Cluster bringup
  .gitignore
  .taskfiles/Bootstrap/Taskfile.yaml
  hack/ubuntu.yaml
  kubernetes/main/apps/kustomization.yaml
  kubernetes/main/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/main/apps/monitoring/vector/aggregator/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/install.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/main/apps/system/openebs/app/helm-release.yaml
  kubernetes/main/apps/system/snapshot-controller/app/helm-release.yaml
  kubernetes/main/cluster/apps.yaml
Labels: area/hack, area/taskfile, cluster/main

Cluster bringup
  kubernetes/main/apps/kustomization.bootstrap
  kubernetes/main/apps/media/immich/app/immich-secrets.yaml
Labels: cluster/main

Immich can't restore, done
  kubernetes/main/apps/media/immich/app/db/backups-pvc.yaml
  kubernetes/main/apps/media/immich/app/db/backups-secret.yaml
  kubernetes/main/apps/media/immich/app/db/cluster.yaml
  kubernetes/main/apps/media/immich/app/db/helm-release.yaml
  kubernetes/main/apps/media/immich/app/db/kustomization.yaml
  kubernetes/main/apps/media/immich/app/db/postgres-superuser-secret.yaml
  kubernetes/main/apps/media/immich/app/db/service.yaml
  kubernetes/main/apps/media/immich/app/immich-config.yaml
  kubernetes/main/apps/media/immich/app/immich-pvc.yaml
  kubernetes/main/apps/media/immich/app/immich-secrets.yaml
  kubernetes/main/apps/media/immich/app/kustomization.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/kustomization.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/kustomization.yaml
  kubernetes/main/apps/media/immich/app/redis/helm-release.yaml
  kubernetes/main/apps/media/immich/app/redis/kustomization.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/kustomization.yaml
  kubernetes/main/apps/media/immich/install.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: cluster/main

Rook to 1.14.0
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: cluster/main

Need service connection
  terraform/authentik/main.tf
  terraform/authentik/outposts.tf
Labels: none

Authentik fully configured via tf
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helm-release.yaml
Labels: cluster/main

chore: Remove unnecessary files
  infrastructure/talos/main/.gitignore
  infrastructure/talos/main/README.md
  infrastructure/talos/main/approve-certs.sh
  infrastructure/talos/main/deploy-extras.sh
  infrastructure/talos/main/deploy.sh
  infrastructure/talos/main/extras/cni/kustomization.yaml
  infrastructure/talos/main/extras/cni/values.yaml
  infrastructure/talos/main/extras/csr-approver/kustomization.yaml
  infrastructure/talos/main/gen-configs.sh
  infrastructure/talos/main/health.sh
  infrastructure/talos/main/reset.sh
Labels: area/infrastructure

Add version
  kubernetes/main/apps/system/openebs/app/helm-release.yaml
Labels: cluster/main

Revert "Immich can't restore, done"
  kubernetes/main/apps/media/immich/app/db/backups-pvc.yaml
  kubernetes/main/apps/media/immich/app/db/backups-secret.yaml
  kubernetes/main/apps/media/immich/app/db/cluster.yaml
  kubernetes/main/apps/media/immich/app/db/helm-release.yaml
  kubernetes/main/apps/media/immich/app/db/kustomization.yaml
  kubernetes/main/apps/media/immich/app/db/postgres-superuser-secret.yaml
  kubernetes/main/apps/media/immich/app/db/service.yaml
  kubernetes/main/apps/media/immich/app/immich-config.yaml
  kubernetes/main/apps/media/immich/app/immich-pvc.yaml
  kubernetes/main/apps/media/immich/app/immich-secrets.yaml
  kubernetes/main/apps/media/immich/app/kustomization.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/main/apps/media/immich/app/machine-learning/kustomization.yaml
  kubernetes/main/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/main/apps/media/immich/app/microservices/kustomization.yaml
  kubernetes/main/apps/media/immich/app/redis/helm-release.yaml
  kubernetes/main/apps/media/immich/app/redis/kustomization.yaml
  kubernetes/main/apps/media/immich/app/server/helm-release.yaml
  kubernetes/main/apps/media/immich/app/server/kustomization.yaml
  kubernetes/main/apps/media/immich/install.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: cluster/main

Move scripts to task area
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/Bootstrap/_scripts/build-config.sh
  .taskfiles/Bootstrap/_scripts/deploy-cluster.sh
Labels: area/taskfile

Use inserts backup
  kubernetes/main/apps/media/immich/app/db/helm-release.yaml
Labels: cluster/main
