Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/hack, area/infrastructure, area/taskfile, cluster/main, cluster/staging, cluster/nas

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/hack:
  - changed-files:
      - any-glob-to-any-file: "hack/**/*"
area/infrastructure:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/main:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/main/**/*"
cluster/staging:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/staging/**/*"
cluster/nas:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/nas/**/*"

chore: don't need terraform for proxmox
  infrastructure/terraform/proxmox/.terraform.lock.hcl
  infrastructure/terraform/proxmox/cluster.tf
  infrastructure/terraform/proxmox/locals.tf
  infrastructure/terraform/proxmox/main.tf
  infrastructure/terraform/proxmox/providers.tf
  infrastructure/terraform/proxmox/startall.sh
  infrastructure/terraform/proxmox/stopall.sh
Labels: area/infrastructure

chore: Taskfile cleanup
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/redis/Taskfile.yaml
  .taskfiles/rook/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  Taskfile.yaml
  infrastructure/setup/deploy-cluster.sh
Labels: area/infrastructure, area/taskfile

fix(dragonfly): Back snapshot to hourly
  kubernetes/main/apps/dbms/dragonfly-operator/cluster/cluster.yaml
Labels: cluster/main

feat(talos): rollout talos upgrade support
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/postgres/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/talos/scripts/upgrade.sh
  kubernetes/main/bootstrap/talos/.gitignore
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talenv.sops.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
  kubernetes/staging/bootstrap/talos/talconfig.yaml
Labels: area/taskfile, cluster/main, cluster/staging

fix: Fix renovate commen
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/staging/bootstrap/talos/talconfig.yaml
Labels: cluster/main, cluster/staging

fix(upgrade): fix typo
  .taskfiles/talos/scripts/upgrade.sh
Labels: area/taskfile

fix: Up the size of the cache
  kubernetes/main/apps/media/plex/app/cache-pvc.yaml
Labels: cluster/main

fix(rook): ceph-fs tweak
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: cluster/main

chore(cleanup): Remove redis
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/dbms/redis/app/dashboard/kustomization.yaml
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
  kubernetes/main/apps/dbms/redis/app/kustomization.yaml
  kubernetes/main/apps/dbms/redis/install.yaml
  kubernetes/main/apps/dbms/redis/lb/haproxy.data
  kubernetes/main/apps/dbms/redis/lb/helm-release.yaml
  kubernetes/main/apps/dbms/redis/lb/kustomization.yaml
  kubernetes/main/apps/dbms/redis/lb/prometheus-rules.yaml
Labels: cluster/main

chore(grafana): Move dashboard registration to grafana
  kubernetes/main/apps/cert-manager/cert-manager/app/dashboards/cert-manager.json
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/dbms/cloudnative-pg/cloudnative-pg/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/media/lidarr/observability/dashboard/dashboard.json
  kubernetes/main/apps/media/lidarr/observability/dashboard/kustomization.yaml
  kubernetes/main/apps/media/lidarr/observability/kustomization.yaml
  kubernetes/main/apps/media/radarr/observability/dashboard/dashboard.json
  kubernetes/main/apps/media/radarr/observability/dashboard/kustomization.yaml
  kubernetes/main/apps/media/radarr/observability/kustomization.yaml
  kubernetes/main/apps/media/sonarr/observability/dashboard/dashboard.json
  kubernetes/main/apps/media/sonarr/observability/dashboard/kustomization.yaml
  kubernetes/main/apps/media/sonarr/observability/kustomization.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/main/apps/monitoring/miscellaneous/dashboards/dockershit.json
  kubernetes/main/apps/monitoring/miscellaneous/dashboards/kustomization.yaml
  kubernetes/main/apps/monitoring/teslamate/app/dashboards/kustomization.yaml
  kubernetes/main/apps/monitoring/teslamate/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/dashboard/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboards/ceph-cluster-dashboard.json
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboards/ceph-osd-dashboard.json
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboards/ceph-pools-dashboard.json
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/dashboards/kustomization.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/add-ons/kustomization.yaml
  kubernetes/staging/apps/media/sonarr/observability/dashboard/dashboard.json
  kubernetes/staging/apps/media/sonarr/observability/dashboard/kustomization.yaml
  kubernetes/staging/apps/media/sonarr/observability/kustomization.yaml
Labels: cluster/main, cluster/staging

chore(cleanup): decommission jaeger and elasticsearch
  kubernetes/main/apps/dbms/kustomization.yaml
  kubernetes/main/apps/monitoring/kustomization.yaml
Labels: cluster/main

fix(ci): Fix labeling
  .github/labels.yaml
Labels: area/github

fix: Move user id to secret
  kubernetes/main/apps/monitoring/unifi-poller/app/unifi-poller-secrets.yaml
Labels: cluster/main

feat: Homepage
  kubernetes/main/apps/media/radarr-4k/app/helm-release.yaml
  kubernetes/main/apps/media/radarr/app/helm-release.yaml
  kubernetes/main/apps/media/sabnzbd/app/helm-release.yaml
  kubernetes/main/apps/media/sonarr/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/homepage/app/configuration.yaml
  kubernetes/main/apps/self-hosted/homepage/app/helm-release.yaml
  kubernetes/main/apps/self-hosted/homepage/app/homepage-secrets.yaml
  kubernetes/main/apps/self-hosted/homepage/app/kustomization.yaml
  kubernetes/main/apps/self-hosted/homepage/app/rbac.yaml
  kubernetes/main/apps/self-hosted/homepage/install.yaml
  kubernetes/main/apps/self-hosted/kustomization.yaml
Labels: cluster/main

ci(renovate): Add grafana dashboards
  .github/renovate.json5
  .github/renovate/grafanaDashboards.json5
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/github, cluster/main

ci(renovate): Add grafana dashboards
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/grafanaDashboards.json5
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/github, cluster/main

feat: Bootstrap Authentik
  infrastructure/terraform/authentik/.terraform.lock.hcl
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/minio/bucket-authentik.tf
  kubernetes/main/apps/security/authentik/app/authentik-secret.yaml
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
  kubernetes/main/apps/security/authentik/app/kustomization.yaml
  kubernetes/main/apps/security/authentik/install.yaml
  kubernetes/main/apps/security/kustomization.yaml
  kubernetes/main/cluster/repositories/helm-charts/authentik-charts.yaml
  kubernetes/main/cluster/repositories/helm-charts/kustomization.yaml
Labels: area/infrastructure, cluster/main

style: formatting
  .taskfiles/Proxmox/Taskfile.yaml
  .taskfiles/format/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/apps/dbms/dragonfly-operator/app/helm-release.yaml
  kubernetes/staging/bootstrap/talos/apps/helmfile.yaml
Labels: area/taskfile, cluster/main, cluster/staging

feat(authentik): Starting framework for config
  infrastructure/terraform/authentik/customization.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/mappings.tf
  infrastructure/terraform/authentik/scopes.tf
  infrastructure/terraform/authentik/stages-prompt_fields.tf
  infrastructure/terraform/authentik/stages.tf
  infrastructure/terraform/authentik/system.tf
Labels: area/infrastructure

fix(authentik): Only have single instance
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
Labels: cluster/main

fix(authentik): Restart pods on secret change
  kubernetes/main/apps/security/authentik/app/helm-release.yaml
Labels: cluster/main

feat(authentik): Google federation working
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/federations.tf
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/main.tf
Labels: area/infrastructure

feat(authentik): Grafana auth
  infrastructure/terraform/authentik/app-grafana.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/mappings.tf
  kubernetes/main/apps/monitoring/grafana/app/grafana-secrets.yaml
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/infrastructure, cluster/main

style(authentik): Refactor/formatting
  infrastructure/terraform/authentik/app-grafana.tf
  infrastructure/terraform/authentik/customization.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/federations.tf
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/locals.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/mappings.tf
  infrastructure/terraform/authentik/scopes.tf
  infrastructure/terraform/authentik/stages.tf
  infrastructure/terraform/authentik/system.tf
  kubernetes/main/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/infrastructure, cluster/main

feat(authentik): Add stub sso-cdn
  kubernetes/main/apps/security/authentik/cdn/helm-release.yaml
  kubernetes/main/apps/security/authentik/cdn/kustomization.yaml
  kubernetes/main/apps/security/authentik/cdn/sso-cdn-secret.yaml
  kubernetes/main/apps/security/authentik/install.yaml
Labels: cluster/main

Debugging Renovate
  .github/renovate.json5
Labels: area/github

Set version for openbooks image
  kubernetes/main/apps/media/openbooks/app/helm-release.yaml
Labels: cluster/main

Remove custom registry
  kubernetes/main/apps/dev/kustomization.yaml
  kubernetes/main/apps/dev/registry-ui/app/helm-release.yaml
  kubernetes/main/apps/dev/registry-ui/app/kustomization.yaml
  kubernetes/main/apps/dev/registry-ui/install.yaml
  kubernetes/main/apps/dev/registry/app/helm-release.yaml
  kubernetes/main/apps/dev/registry/app/kustomization.yaml
  kubernetes/main/apps/dev/registry/app/pvc.yaml
  kubernetes/main/apps/dev/registry/install.yaml
Labels: cluster/main

fix: Don't pin digests for app-template
  .github/renovate/packageRules.json5
Labels: area/github

Drop dragonfly (non-operator) and elasticsearch
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
  kubernetes/main/apps/dbms/dragonfly/app/kustomization.yaml
  kubernetes/main/apps/dbms/dragonfly/install.yaml
  kubernetes/main/apps/dbms/elasticsearch/app/elasticsearch-secrets.yaml
  kubernetes/main/apps/dbms/elasticsearch/app/helm-release.yaml
  kubernetes/main/apps/dbms/elasticsearch/app/kustomization.yaml
  kubernetes/main/apps/dbms/elasticsearch/install.yaml
  kubernetes/main/apps/dbms/kustomization.yaml
Labels: cluster/main

Need host for cdn
  kubernetes/main/apps/security/authentik/cdn/helm-release.yaml
  kubernetes/main/apps/security/authentik/cdn/sso-cdn-secret.yaml
Labels: cluster/main

Testing renovate update
  .github/renovate.json5
  kubernetes/staging/apps/default/whoami/app/helm-release.yaml
Labels: area/github, cluster/staging

Update nix flake w/ renovate
  .github/renovate.json5
  flake.lock
Labels: area/github

Add another no-pin digest exclusion
  .github/renovate.json5
  .github/renovate/packageRules.json5
  .prettierrc
Labels: area/github

Remove error pages
  kubernetes/nas/apps/networking/ingress-nginx/app/helm-release.yaml
  kubernetes/staging/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: cluster/staging, cluster/nas

More renovate tweaks
  .github/linters/prettier/.prettierrc.yaml
  .github/renovate.json5
  .github/renovate/packageRules.json5
  .prettierrc
Labels: area/github

Tweaking cnpg renovate
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/github, cluster/main, cluster/staging

Ensuring cnpg updates
  .github/renovate/packageRules.json5
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/github, cluster/staging

Will update nix manually
  .github/renovate.json5
Labels: area/github

feat: Update sso-cdn to release
  kubernetes/main/apps/security/authentik/app/authentik-secret.yaml
  kubernetes/main/apps/security/authentik/cdn/helm-release.yaml
Labels: cluster/main
