Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

fix(github-release): update prometheus-operator/prometheus-operator to v0.71.1
  kubernetes/main/bootstrap/crds/kustomization.yaml
  kubernetes/nas/bootstrap/crds/kustomization.yaml
  kubernetes/staging/bootstrap/crds/kustomization.yaml
Labels: area/cluster

Remove ifnames config
  infrastructure/talos/main/talconfig.yaml
Labels: none

Rebooting cluster
  infrastructure/talos/main/deploy-extras.sh
  infrastructure/talos/main/talconfig.yaml
  kubernetes/main/apps/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.1.4233
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

feat(container): update image prometheus-node-exporter to v4.26.0
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

Rebooting cluster
  .taskfiles/Rook.yaml
  hack/ubuntu.yaml
  infrastructure/talos/main/deploy-extras.sh
  infrastructure/talos/main/extras/cni/values.yaml
  infrastructure/talos/main/talconfig.yaml
  kubernetes/main/apps/flux-system/add-ons/webhooks/github/receiver.yaml
  kubernetes/main/apps/kube-system/cilium/app/cilium-values.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster, area/hack

Add backup clean
  kubernetes/main/apps/dbms/cloudnative-pg/backup/helm-release.yaml
  kubernetes/main/apps/media/immich/app/db/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.13.1.4233
  kubernetes/main/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

Rebooting cluster
  kubernetes/main/apps/kustomization.yaml
Labels: area/cluster

feat(container): update image prometheus-node-exporter to v4.26.0
  kubernetes/main/apps/kustomization.bootstrap
  kubernetes/nas/apps/monitoring/node-exporter/app/helm-release.yaml
Labels: area/cluster

Cluster bringup yet again
  .taskfiles/Rook.yaml
  kubernetes/main/apps/kustomization.bootstrap
Labels: area/cluster

Dashy to ghcr.io
  kubernetes/main/apps/self-hosted/dashy/app/helm-release.yaml
Labels: area/cluster

Teslamate to ghcr.io
  kubernetes/main/apps/monitoring/teslamate/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-16
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v42.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v42.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-16
  kubernetes/main/apps/dbms/cloudnative-pg/cluster/cluster.yaml
  kubernetes/staging/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.5
  kubernetes/main/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

fix(container): update image dragonfly to v1.14.1
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

fix(container): update image kube-prometheus-stack to v56.0.5
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v42.0.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-release): update prometheus-operator/prometheus-operator to v0.71.2
  kubernetes/main/bootstrap/crds/kustomization.yaml
  kubernetes/nas/bootstrap/crds/kustomization.yaml
  kubernetes/staging/bootstrap/crds/kustomization.yaml
Labels: area/cluster

feat(github-action)!: Update peter-evans/create-issue-from-file action to v5
  .github/workflows/link-checker.yaml
Labels: area/github

feat(github-action)!: Update peter-evans/create-issue-from-file action to v5
  .github/workflows/link-checker.yaml
Labels: area/github

fix(github-release): update prometheus-operator/prometheus-operator to v0.71.2
  kubernetes/main/bootstrap/crds/kustomization.yaml
  kubernetes/nas/bootstrap/crds/kustomization.yaml
  kubernetes/staging/bootstrap/crds/kustomization.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v42.0.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update image kube-prometheus-stack to v56.0.5
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image dragonfly to v1.14.1
  kubernetes/main/apps/dbms/dragonfly/app/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/cloudflare/cloudflared to v2024.1.5
  kubernetes/main/apps/networking/cloudflared/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/onedr0p/home-assistant to 64bb3ff
  kubernetes/main/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.13.3
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v56.1.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v56.1.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/nas/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook ceph group to v1.13.3
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/staging/apps/rook-ceph/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

Housekeeping
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

chore(deps): update gha group to v0.8.2
  kubernetes/main/apps/dev/actions-runner-controller/operator/helm-release.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-homelab.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/k8s-staging.yaml
  kubernetes/main/apps/dev/actions-runner-controller/runners/tesla-spy.yaml
Labels: area/cluster

chore(deps): update image redis to v18.6.4
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image redis to v18.8.2
  kubernetes/main/apps/dbms/redis/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v12.22.0
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image thanos to v12.22.0
  kubernetes/main/apps/monitoring/thanos/app/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
