Repository szinn/k8s-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/cluster, area/hack

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"

chore(deps): update image ghcr.io/bjw-s/calibre-web to 3a43f40
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update image ghcr.io/bjw-s/calibre-web to 10f25a6
  kubernetes/apps/media/calibre-web/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/fluxcd/flux-manifests to v2.2.1
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.2.1
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.2.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.2.1
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/fluxcd/flux-manifests to v2.2.1
  kubernetes/cluster/config/flux.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v2.2.1
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.2.4156
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.737
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: area/cluster

Updating to 1.6.0/1.29.0
  infrastructure/talos/talconfig.yaml
Labels: none

Disable authelia startup check
  kubernetes/apps/security/authelia/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-8
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.9.1
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/ceph/ceph to v18.2.1
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.41.4
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.91.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

feat(container): update immich group to v1.91.0
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

feat(container): update image kube-prometheus-stack to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.41.4
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.9.1
  kubernetes/apps/dbms/redis/lb/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.12.3
  kubernetes/apps/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-8
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image quay.io/ceph/ceph to v18.2.1
  kubernetes/apps/dbms/pgadmin/app/config/servers.json
  kubernetes/apps/media/immich/app/db/backups-pvc.yaml
  kubernetes/apps/media/immich/app/db/backups-secret.yaml
  kubernetes/apps/media/immich/app/db/cluster.yaml
  kubernetes/apps/media/immich/app/db/helm-release.yaml
  kubernetes/apps/media/immich/app/db/kustomization.yaml
  kubernetes/apps/media/immich/app/db/postgres-superuser-secret.yaml
  kubernetes/apps/media/immich/app/db/service.yaml
  kubernetes/apps/media/immich/app/immich-secrets.yaml
  kubernetes/apps/media/immich/app/proxy/helm-release.yaml
  kubernetes/apps/media/immich/app/proxy/kustomization.yaml
  kubernetes/apps/media/immich/app/web/helm-release.yaml
  kubernetes/apps/media/immich/app/web/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helm-release.yaml
  kubernetes/cluster/vars/cluster-secrets.sops.yaml
  kubernetes/cluster/vars/cluster-settings.cfg
  kubernetes/cluster/vars/cluster-settings.cfg.sha256
  kubernetes/cluster/vars/cluster-settings.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.2.4158
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.91.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.10
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

fix(container): update immich group to v1.91.1
  kubernetes/apps/media/immich/app/machine-learning/helm-release.yaml
  kubernetes/apps/media/immich/app/microservices/helm-release.yaml
  kubernetes/apps/media/immich/app/server/helm-release.yaml
Labels: area/cluster

fix(helm): update chart external-secrets to 0.9.10
  kubernetes/apps/security/external-secrets/app/helm-release.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 8d56655
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

Remove typesense from immich
  kubernetes/apps/media/immich/app/immich-config.yaml
  kubernetes/apps/media/immich/app/kustomization.yaml
Labels: area/cluster

chore(deps): update image ghcr.io/szinn/kubernetes-schemas-web to 0c50fb5
  kubernetes/apps/dev/kubernetes-schemas/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-9
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.11.2.4160
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-9
  kubernetes/apps/dbms/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

kubePrism for cilium
  infrastructure/talos/talconfig.yaml
  kubernetes/apps/kube-system/cilium/app/cilium-values.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-develop to v0.3.12.2327
  kubernetes/apps/media/readarr/app/helm-release.yaml
Labels: area/cluster
